{
	"gui": {
		"windowtitle" : {
			"type" : "title",
			"title" : "Mag Feeding",
			"subtitle" : "Little robotic companion",
			"position" : [0, 200]
		},
		"icon" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_magfeeding/baricon.png",
			"position" : [7, 195.5],
			"zlevel" : 1
		},
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/scripted/srm_magfeeding/header.png",
			"fileBody": "/interface/scripted/srm_magfeeding/body.png",
			"fileFooter": "/interface/scripted/srm_magfeeding/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/scripted/srm_magfeeding/x.png",
			"hover": "/interface/scripted/srm_magfeeding/xhover.png",
			"press": "/interface/scripted/srm_magfeeding/xpress.png",
			"pressedOffset": [0, -2],
			"position": [153, 198]
		},
		
		"sectionImage" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_magfeeding/viridia.png?multiply=FFFFFF80",
			"position" : [71, 162],
			"zlevel" : -1
		},
		
        "feedSlot" : {
            "type" : "itemslot",
            "position" : [8, 167],
		    "callback" : "feedSlot",
            "rightClickCallback" : "feedSlot",
            //"backingImage" : "/interface/inventory/empty.png",
            "backingImage" : "/interface/scripted/srm_magfeeding/empty.png",
			"zlevel" : 2
        },
		"feedSlotHint" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "top",
			"position" : [30, 185],
			"wrapWidth" : 50,
			"value" : "^#2a2a2b;Feed items <-- here^reset;"
		},
        "magSlot" : {
            "type" : "itemslot",
            "position" : [144, 167],
		    "callback" : "magSlot",
            "rightClickCallback" : "magSlot",
            //"backingImage" : "/interface/inventory/empty.png",
            "backingImage" : "/interface/scripted/srm_magfeeding/empty.png",
			"zlevel" : 2
        },
		"magSlotHint" : {
			"type" : "label",
			"hAnchor" : "right",
			"vAnchor" : "top",
			"position" : [141, 185],
			"wrapWidth" : 35,
			"value" : "^#2a2a2b;Your mag -->^reset;"
		},
		
		"level" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [8, 146],
			"wrapWidth" : 40,
			"value" : "Level"
		},
		"levelMag" : {
			"type" : "label",
			"hAnchor" : "right",
			"vAnchor" : "bottom",
			"position" : [61, 146],
			"wrapWidth" : 20,
			"value" : "999"
		},
		"synchro" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [8, 135],
			"wrapWidth" : 40,
			"value" : "Synchro"
		},
		"synchroMag" : {
			"type" : "label",
			"hAnchor" : "right",
			"vAnchor" : "bottom",
			"position" : [61, 135],
			"wrapWidth" : 40,
			"value" : "999"
		},
		"synchroHint" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [63, 135],
			"wrapWidth" : 40,
			"value" : "%"
		},
		"IQ" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [8, 124],
			"wrapWidth" : 40,
			"value" : "IQ"
		},
		"IQMag" : {
			"type" : "label",
			"hAnchor" : "right",
			"vAnchor" : "bottom",
			"position" : [61, 124],
			"wrapWidth" : 40,
			"value" : "999"
		},
		"DEF" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [8, 113],
			"wrapWidth" : 40,
			"value" : "DEF"
		},
		"DEFMag" : {
			"type" : "label",
			"hAnchor" : "right",
			"vAnchor" : "bottom",
			"position" : [61, 113],
			"wrapWidth" : 40,
			"value" : "999"
		},
		"DEFMeter" : {
			"zlevel" : 2,
			"type" : "canvas",
			"rect" : [62, 115, 162, 120],
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		},
		"POW" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [8, 102],
			"wrapWidth" : 40,
			"value" : "POW"
		},
		"POWMag" : {
			"type" : "label",
			"hAnchor" : "right",
			"vAnchor" : "bottom",
			"position" : [61, 102],
			"wrapWidth" : 40,
			"value" : "999"
		},
		"POWMeter" : {
			"zlevel" : 2,
			"type" : "canvas",
			"rect" : [62, 104, 162, 109],
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		},
		"DEX" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [8, 91],
			"wrapWidth" : 40,
			"value" : "DEX"
		},
		"DEXMag" : {
			"type" : "label",
			"hAnchor" : "right",
			"vAnchor" : "bottom",
			"position" : [61, 91],
			"wrapWidth" : 40,
			"value" : "999"
		},
		"DEXMeter" : {
			"zlevel" : 2,
			"type" : "canvas",
			"rect" : [62, 93, 162, 98],
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		},
		"MIND" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [8, 80],
			"wrapWidth" : 40,
			"value" : "MIND"
		},
		"MINDMag" : {
			"type" : "label",
			"hAnchor" : "right",
			"vAnchor" : "bottom",
			"position" : [61, 80],
			"wrapWidth" : 40,
			"value" : "999"
		},
		"MINDMeter" : {
			"zlevel" : 2,
			"type" : "canvas",
			"rect" : [62, 82, 162, 87],
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		},
		"fullPB" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [6, 63],
			"wrapWidth" : 80,
			"value" : "Full PB Trigger : "
		},
		"fullPBTrigger" : {
			"type" : "label",
			"hAnchor" : "right",
			"vAnchor" : "bottom",
			"position" : [165, 63],
			"wrapWidth" : 120,
			"value" : "Woopsies"
		},
		"heavyDamage" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [6, 53],
			"wrapWidth" : 80,
			"value" : "Low Health Trigger : "
		},
		"heavyDamageTrigger" : {
			"type" : "label",
			"hAnchor" : "right",
			"vAnchor" : "bottom",
			"position" : [165, 53],
			"wrapWidth" : 120,
			"value" : "Woopsies"
		},
		"beaming" : {
			"type" : "label",
			"hAnchor" : "left",
			"vAnchor" : "bottom",
			"position" : [6, 43],
			"wrapWidth" : 80,
			"value" : "Beam In Trigger : "
		},
		"beamingTrigger" : {
			"type" : "label",
			"hAnchor" : "right",
			"vAnchor" : "bottom",
			"position" : [165, 43],
			"wrapWidth" : 120,
			"value" : "Woopsies"
		}
	},

	"scriptWidgetCallbacks": [
		"feedSlot", "magSlot"
	],

	"scripts": ["/interface/scripted/srm_magfeeding/srm_magfeeding.lua"],
	"scriptDelta": 1,

	"windowExpireTimer" : 180,
	"levelCap" : 200,
	"statsCap" : 200,
	"synchroCap" : 120, // Some damage, trigger chance, decreases with death

  "serializeSelection": true
}