{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/scripted/srm_collectorssyringe/header.png",
			"fileBody": "/interface/scripted/srm_collectorssyringe/body.png",
			"fileFooter": "/interface/scripted/srm_collectorssyringe/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/scripted/srm_collectorssyringe/x.png",
			"hover": "/interface/scripted/srm_collectorssyringe/xhover.png",
			"press": "/interface/scripted/srm_collectorssyringe/xpress.png",
			"pressedOffset": [0, -2],
			"position": [70, 109]
		},
		"lblTitle" : {
			"type" : "label",
			"position" : [8, 110],
			"hAnchor" : "left",
			"wrapWidth" : 125,
			"value" : "^shadow;Cell Ascension^reset;"
		},
		"tileDisplay" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_collectorssyringe/itemslot.png",
			"position" : [13, 76],
			"zlevel" : 1
		},
        "tileSlot" : {
            "type" : "itemslot",
            "position" : [15, 78],
		    "callback" : "tileSlot",
            "rightClickCallback" : "tileSlot",
            "backingImage" : "/interface/inventory/empty.png",
			"zlevel" : 2
        },
		"btnJuiceup" : {
			"type" : "button",
			"callback": "btnJuiceup",
			"pressedOffset" : [0, -2],
			"position" : [43, 76],
			"base" : "/interface/scripted/srm_collectorssyringe/juiceup.png",
			"hover" : "/interface/scripted/srm_collectorssyringe/juiceuphover.png",
			"press" : "/interface/scripted/srm_collectorssyringe/juiceup.png"
		},
		"currencyDisplay" : {
			"type" : "image",
			"file" : "/items/currency/srm_deadcells.png",
			"position" : [5, 56],
			"zlevel" : 1
		},
		"lblCurrency" : {
			"type" : "label",
			"position" : [52.75, 60],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^cyan;999999999^reset;"
		},
		"lblCurrencyShadow" : {
			"type" : "label",
			"position" : [52.75, 59],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^black;999999999^reset;"
		},
		"lblTooltip" : {
			"type" : "label",
			"position" : [43.5, 44.5],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^shadow;Amount To Spend^reset;"
		},
		"lblTextbox" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_collectorssyringe/amount.png",
			"position" : [18, 27],
			"zlevel" : 1
		},
		"textfield" : {
			"type" : "textbox",
            "hint" : "Type Here",
			"file" : "/interface/scripted/srm_collectorssyringe/amount.png",
			"position" : [23, 28],
			"zlevel" : 2,
            "maxWidth" : 70,
			"hAnchor" : "mid",
            "escapeKey" : "close",
			"regex":"\\d{0,9}",
            "focus" : true
		},
		"statsTitle" : {
			"type" : "label",
			"position" : [122, 97.5],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^shadow;Weapon Stats^reset;"
		},
		"statsTotalSpentTooltip" : {
			"type" : "label",
			"position" : [122.5, 79],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^shadow;Cells Consumed:^reset;"
		},
		"statsTotalSpent" : {
			"type" : "label",
			"position" : [122.5, 73],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^cyan;999999999^reset;"
		},
		"statsTotalSpentShadow" : {
			"type" : "label",
			"position" : [122.5, 72],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^black;999999999^reset;"
		},
		"statsUpgradeCostTooltip" : {
			"type" : "label",
			"position" : [122.5, 63],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^shadow;Cost For 1% DMG:^reset;"
		},
		"statsUpgradeCost" : {
			"type" : "label",
			"position" : [122.5, 57],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^yellow;999999999^reset;"
		},
		"statsUpgradeCostShadow" : {
			"type" : "label",
			"position" : [122.5, 56],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^black;999999999^reset;"
		},
		"statsDamageBonusTooltip" : {
			"type" : "label",
			"position" : [122.5, 47],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^shadow;DMG Bonus:^reset;"
		},
		"statsDamageBonus" : {
			"type" : "label",
			"position" : [122.5, 41],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^red;999999999^reset;"
		},
		"statsDamageBonusShadow" : {
			"type" : "label",
			"position" : [122.5, 40],
			"hAnchor" : "mid",
			"wrapWidth" : 125,
			"value" : "^black;999999999^reset;"
		}
	},

	"scriptWidgetCallbacks": [
		"btnJuiceup", "textfield", "tileSlot"
	],

	"scripts": ["/interface/scripted/srm_collectorssyringe/srm_collectorssyringe.lua"],
	"scriptDelta": 1,

  "serializeSelection": true
}