{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, 
	  "A'yggos", 
	  "Aborl-cacyske", 
	  "Achaotela", 
	  "Actagd'gnes", 
	  "Acttha", 
	  "Aegushash", 
	  "Aeilo-cho", 
	  "Agarleh", 
	  "Aighreltha", 
	  "Aikthaiogre", 
	  "Aimleth'ended", 
	  "Aiucnuizen", 
	  "Aiuctaognos", 
	  "Aiucxervorh", 
	  "Aiucxuitloxz", 
	  "Aiud'ivha", 
	  "Aiuectibhilbh", 
	  "Aiuegizhulb", 
	  "Aiuekhaiotle", 
	  "Aiumh'ogg'ithan", 
	  "Aiuzathr'xi", 
	  "Aiuzugr'mitl", 
	  "Ak'ibothach", 
	  "Akrndag", 
	  "Alihos", 
	  "Alorhuthaogh", 
	  "Amhevhu", 
	  "Amlycno", 
	  "Anich-hazsa", 
	  "Aqugy", 
	  "Arhathurh", 
	  "Arsasho", 
	  "Athinda", 
	  "Athirvu", 
	  "Attephach-gul", 
	  "Azogguloli", 
	  "Azughox", 
	  "Azyggolb", 
	  "Bb'talegnthug", 
	  "Bb-men", 
	  "Bhakrho", 
	  "Bharaca", 
	  "Bhedrru", 
	  "Bhegnne",
	  "Bhiothl'ithar", 
	  "Bhithrith", 
	  "Bhosa", 
	  "Bo'kra", 
	  "Bo-lo", 
	  "Boact", 
	  "Bog-yan", 
	  "Bomaqudat", 
	  "Bomaruda", 
	  "Bong", 
	  "Bong-Bong", 
	  "Bora-car", 
	  "Borat", 
	  "Borlothutath", 
	  "Bornyaqul", 
	  "Boruatugn", 
	  "Bos'amakeg", 
	  "Bos'ekrtua", 
	  "Braombrid", 
	  "Brolliss", 
	  "Brugri", 
	  "Brymbri", 
	  "C'chol", 
	  "C'lothugoar", 
	  "C'thaiovhuss", 
	  "C'thogesz", 
	  "Calekrl", 
	  "Chacthug", 
	  "Chanichuanyo", 
	  "Chanothib", 
	  "Chasho", 
	  "Chla", 
	  "Chogoili-epha", 
	  "Chu'rthoicha", 
	  "Chuarha", 
	  "Cl-rh", 
	  "Cleishubb", 
	  "Cnaiozt'lexr", 
	  "Cneldon", 
	  "Cnygnnast", 
	  "Ct'phabothig", 
	  "Cthouzhulb", 
	  "Cthudhah", 
	  "Cthugralbh", 
	  "Cthurvath", 
	  "Ctubb'itha", 
	  "Ctuithloth", 
	  "Ctuzh'lu", 
	  "Cxaiokluxr", 
	  "Cxaioztuh", 
	  "Cxaogr'kruth", 
	  "Cxegesz", 
	  "Cxeru", 
	  "Cxoundisz", 
	  "Da-gh", 
	  "Da-ph", 
	  "Daazhorc", 
	  "Daiocted", 
	  "Ddehagut", 
	  "Ddhotharna", 
	  "Ddhotho", 
	  "Dejh'xex", 
	  "Depha-mot", 
	  "Dhlog", 
	  "Dhogoib", 
	  "Dhosthany", 
	  "Dogma", 
	  "Ecthugdisz", 
	  "Ectydrrir", 
	  "Ed'er'krer", 
	  "Egirv'dhri", 
	  "Einai-phu", 
	  "Eishu", 
	  "Eit'sthu", 
	  "Eith-sthiggo", 
	  "Eithugo", 
	  "Ekeic", 
	  "Ekiaota", 
	  "Ekthedhro", 
	  "Ekthiothresh", 
	  "El-ait", 
	  "Ele-yath", 
	  "Elorttlz", 
	  "Elothot-ura", 
	  "Eno-ephachaok", 
	  "Enoullug", 
	  "Enyascaclll", 
	  "Ephoi", 
	  "Ethola", 
	  "Etoumbrilb", 
	  "Ev'aathloxz", 
	  "Evh'izhor", 
	  "Evumbru", 
	  "G'agnatharhak", 
	  "G'zogt", 
	  "Gambruxz", 
	  "Gammeg-zshal", 
	  "Gggulatl-arl", 
	  "Ghaagg'led", 
	  "Ghaiogne", 
	  "Ghougna", 
	  "Ghrarvelbh", 
	  "Ghrocnerc", 
	  "Ghrorva", 
	  "Ghrurr'endur", 
	  "Gna-car", 
	  "Gnathaa", 
	  "Gokeh", 
	  "Gol'rho", 
	  "Gol-ke", 
	  "Golothon", 
	  "Gosokeg", 
	  "Gotehoste", 
	  "Gotug-rhu", 
	  "Grimbran", 
	  "Gtholarllica", 
	  "Haaldi", 
	  "Hachagosi", 
	  "Hact'kru", 
	  "Hakegngyg", 
	  "Harllotar", 
	  "Hat'bhae", 
	  "Hatli", 
	  "Hishachatath", 
	  "Hor-bboib", 
	  "Horngotla", 
	  "Horubharha", 
	  "Hotaquau", 
	  "Houbreh", 
	  "Huglakek-yigg", 
	  "Hugoke", 
	  "I'dachia", 
	  "I'huauloabh", 
	  "I'ogntlaborh", 
	  "Iagadheg", 
	  "Iahuimbre", 
	  "Iamh'aiognest", 
	  "Iatehlz", 
	  "Iaucthaarv'itriss", 
	  "Iauctygde", 
	  "Iaudellash", 
	  "Iaugraiotl'ke", 
	  "Iautuix'dren", 
	  "Iauz'oletl", 
	  "Ibogugtha", 
	  "Iclotho", 
	  "Icthouzha", 
	  "Icxoldish", 
	  "Ig'ela", 
	  "Ighogos-eggot", 
	  "Ighouctosz", 
	  "Igregnalbh", 
	  "Ih'bor", 
	  "Ihegost", 
	  "Ikhoklas", 
	  "Ikthulp'endex", 
	  "Ikthyrerc", 
	  "Illaibb", 
	  "Ilotlo", 
	  "Imleklixr", 
	  "In-mig", 
	  "Inalothol-nau", 
	  "Inekiqu", 
	  "Ingilkex", 
	  "Int-loggugnt", 
	  "Iquddakr", 
	  "Isalatsa", 
	  "Ischathot", 
	  "Iscth-rhi", 
	  "Isk'ugoggyih", 
	  "It-st", 
	  "Itharugg-iat", 
	  "Ithibb", 
	  "Iukthycn'thest", 
	  "Iumhaioli", 
	  "Iumhothl'itra", 
	  "Iungejhoxz", 
	  "Iuthuizto", 
	  "Iv'idralb", 
	  "Ivh'aiolud", 
	  "Ivhuipo", 
	  "K'thosthartl", 
	  "Kaodhrix", 
	  "Kaoztu", 
	  "Kekelana", 
	  "Kellachog", 
	  "Kellanana-ulo", 
	  "Khulth'ithi", 
	  "Kiathat", 
	  "Kibboath", 
	  "Kicyuthotigh", 
	  "Kigt", 
	  "Kisata-hoibhl", 
	  "Kozhorc", 
	  "Kra'dhotha", 
	  "Krh'zot", 
	  "Krh-cho", 
	  "Krh-zsthoth", 
	  "Krthaugalha", 
	  "Krullos", 
	  "Kruthath", 
	  "Kthacno", 
	  "Kthali", 
	  "Kthoctad", 
	  "Kugdolbh", 
	  "Laboniglh", 
	  "Lacarteg", 
	  "Larloteg", 
	  "Lathoggo", 
	  "Lautachu", 
	  "Lig-ha", 
	  "Lithaoica", 
	  "Ll'othichoth", 
	  "Ll-no", 
	  "Llarnyg", 
	  "Lot-pharh", 
	  "Lzha-phi", 
	  "M'aeit", 
	  "M'onao", 
	  "Mactugnartha", 
	  "Maehaog", 
	  "Mal'mephacao", 
	  "Mammoth", 
	  "Manenabogoru", 
	  "Mas-botehokel", 
	  "Me'inephaiq", 
	  "Megnacatake", 
	  "Mh'aathrusz", 
	  "Mh'arv'mess", 
	  "Mh'epu", 
	  "Mh'igda", 
	  "Mh'ouct'vhi", 
	  "Mhudrrost", 
	  "Mig-dhachor", 
	  "Milegors", 
	  "Mlaarred", 
	  "Mlaathi", 
	  "Mlaogi", 
	  "Mlullush", 
	  "Mmothathor",
	  "Moghotha", 
	  "Morusib-omab", 
	  "Mother",
	  "N'rathors", 
	  "Naaazhaqua", 
	  "Nacaorh", 
	  "Nag-ach", 
	  "Nangoli", 
	  "Ndhoggot", 
	  "Nebh'ki", 
	  "Ngaagr'lah", 
	  "Ngaioklist", 
	  "Nggor-zotho", 
	  "Ngha-ndha", 
	  "Ngour'mesz", 
	  "Nguanyi", 
	  "Ngyg", 
	  "Niggndhath", 
	  "Nonagyila", 
	  "Nothar", 
	  "Nthallot", 
	  "Nubrixr", 
	  "Nyatusothot", 
	  "Nygthacti", 
	  "Nyo-ys", 
	  "Nyshattha", 
	  "O'arhacho", 
	  "O'loth", 
	  "O'rtekrt", 
	  "Ocnigne", 
	  "Og-ny", 
	  "Oghaond'xoss", 
	  "Oghrux'ithar", 
	  "Oghudha", 
	  "Ogimbro", 
	  "Okthudh'gna", 
	  "Olegn", 
	  "Olothaza", 
	  "Omh'agrel", 
	  "Osh-is", "Ph-pha", 
	  "Oshokrhl", 
	  "Otaiothex", 
	  "Othanake", 
	  "Othatlel", 
	  "Othitigo", 
	  "Othushas", 
	  "Otripu", 
	  "Otrudhitl", 
	  "Otth-losothot", 
	  "Ovracnosh", 
	  "Oxaalp'xexr", 
	  "P'ologgt", 
	  "Phachabos-cho", 
	  "Phalomm", 
	  "Phaok", 
	  "Pharholo", 
	  "Phatlegoke", 
	  "Phau-rsh", 
	  "Phazabo", 
	  "Phigote", 
	  "Phoshudeg", 
	  "R'lathatha", 
	  "Rhathalos", 
	  "Rhollant", 
	  "Rlotulot", 
	  "Rn-bb", 
	  "Rnoathact", 
	  "Rsatia", 
	  "Rshomaliaabo", 
	  "Rsitho-larnat", 
	  "Rste", 
	  "Rtatuacyg", 
	  "Rtena", 
	  "Rth-nta", 
	  "Rth-zsac", 
	  "Rthai", 
	  "Rug-bolinasc", 
	  "S'dastlo", 
	  "Saiqul-gon", 
	  "Sal-li", 
	  "Sanathi", 
	  "Sat'zorabos", 
	  "Sazotegorna", 
	  "Schacat", 
	  "Shaboth", 
	  "Shauar-cystl", 
	  "Shog", 
	  "Shoteh-saas", 
	  "Shotekisiga", 
	  "Shuathash", 
	  "Skiamotl", 
	  "Skilalorlit", 
	  "Skratla", 
	  "Steke", 
	  "Taadhra", 
	  "Talotiqug", 
	  "Taoggd'mix", 
	  "Tegac-mmmoth",
	  "Tegomot", 
	  "Thabbostl", 
	  "Thaiobborc", 
	  "Thandhu", 
	  "Tharuruama", 
	  "Tho-ugg", 
	  "Tll-mitha", 
	  "Tlorhars", 
	  "Traolpulb", 
	  "Trigrulbh", 
	  "Trothrhag", 
	  "Tsacatuga", 
	  "Tudenysho", 
	  "U'ichauboga", 
	  "Uamilathua", 
	  "Uathosh-mat", 
	  "Ubb'ph", 
	  "Ubhaiocni", 
	  "Ubo-cleg", 
	  "Ubo-hu", 
	  "Ubrydho", 
	  "Ucthuztolbh", 
	  "Ug'cthomoke", 
	  "Ug'gosa", 
	  "Ugg-lai", 
	  "Ughrythlod", 
	  "Ugiodrrag", 
	  "Ugnthoghal", 
	  "Ugotata", 
	  "Ugtlhonth", 
	  "Uhaovho", 
	  "Uhathesh", 
	  "Ukovh'mash", 
	  "Ukudrra", 
	  "Ulamaug", 
	  "Uthepe", 
	  "Uxyghush", 
	  "Uz'uilthixr", 
	  "Uzhuilth'mast", 
	  "V'eth'zhixr", 
	  "V'old'theh", 
	  "V'olkorh", 
	  "V'uibhi", 
	  "Vaaggitl", 
	  "Vaobb'zhith", 
	  "Vaognni", 
	  "Vh'ovh'gnutl", 
	  "Vhoul'lulb", 
	  "Vhugd'kres", 
	  "Vhygrud", 
	  "Viothrhi", 
	  "Vraoggdixz", 
	  "Vrapi", 
	  "Vrathl'dri", 
	  "Vrildixz", 
	  "Vyrvelb", 
	  "Xaathritl", 
	  "Xoumbrusz", 
	  "Xox'krotl", 
	  "Xuibbo", 
	  "Xyggdil", 
	  "Xyggolb", 
	  "Yamhugr'rost", 
	  "Yar-bom", 
	  "Yarut-lote", 
	  "Yashodhr'endor", 
	  "Yashoztixr", 
	  "Yathotha", 
	  "Ybrybrer", 
	  "Yga-ubb", 
	  "Ygo-tugha", 
	  "Ygorlot", 
	  "Yibb", 
	  "Yictollus", 
	  "Yighugr'dhren", 
	  "Yigoacthug", 
	  "Yinekek", 
	  "Yivythlelbh", 
	  "Ykuivhilbh", 
	  "Yngeggderc", 
	  "Yobryllar", 
	  "Yoguggno", 
	  "Yogugugolo", 
	  "Yohouthluh", 
	  "Yonath", 
	  "Yoshog'thog", 
	  "Yotho", 
	  "Yotitho", 
	  "Yshakihua-iqu", 
	  "Yshauggh", 
	  "Ytyggih", 
	  "Yu-hat", 
	  "Yubh", 
	  "Yubosata", 
	  "Yughl-deh", 
	  "Yugyigngushu", 
	  "Yulotugogon", 
	  "Yvh'ojhor", 
	  "Yvhubbe", 
	  "Z'aiocnu", 
	  "Z'obhosz", 
	  "Zaenotle", 
	  "Zathllzsh-ict", 
	  "Zhaigognyst", 
	  "Zhaiolp'ka", 
	  "Zhaskrshugla", 
	  "Zhoghathar", 
	  "Zhognarn", 
	  "Zhottelog", 
	  "Zhoullixr", 
	  "Zolzosa", 
	  "Zoman", 
	  "Zot-saa", 
	  "Zoubho", 
	  "Zoupa",
	  "Zs-ar", 
	  "Zsallhug", 
	  "Zsharurug", 
	  "Zshib-clzsc", 
	  "Zsho", 
	  "Zsotagggl" 
	  ]
    ]
  ]
}




















