{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/scripted/srm_worldbrush/header.png",
			"fileBody": "/interface/scripted/srm_worldbrush/body.png",
			"fileFooter": "/interface/scripted/srm_worldbrush/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/scripted/srm_worldbrush/x.png",
			"hover": "/interface/scripted/srm_worldbrush/xhover.png",
			"press": "/interface/scripted/srm_worldbrush/xpress.png",
			"pressedOffset": [0, -2],
			"position": [94, 123]
		},
		"lblTitle" : {
			"type" : "label",
			"position" : [7, 122],
			"hAnchor" : "left",
			"wrapWidth" : 125,
			"value" : "^shadow;Worldbrush Menu^reset;"
		},
		"tileDisplay" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_worldbrush/blockshowcase.png",
			"position" : [20, 89],
			"zlevel" : 1
		},
		"currentTile" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_worldbrush/defaulttile.png",
			"position" : [23, 92],
			"zlevel" : 2
		},
		"toggleMod" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_worldbrush/empty.png",
			"position" : [23, 92],
			"zlevel" : 3
		},
		"lblTileName" : {
			"type" : "label",
			"position" : [55, 73],
			"hAnchor" : "mid",
			"wrapWidth" : 120,
			"value" : "^shadow;Agoo goo gaga^reset;"
		},
		"lastTile" : {
			"type" : "button",
			"position" : [7, 94],
			"caption" : "",
			"callback": "lastTileButton",
			"base" : "/interface/scripted/srm_worldbrush/left.png",
			"hover" : "/interface/scripted/srm_worldbrush/lefthover.png",
			"pressedOffset": [0, -1]
		},
		"nextTile" : {
			"type" : "button",
			"position" : [44, 94],
			"caption" : "",
			"callback": "nextTileButton",
			"base" : "/interface/scripted/srm_worldbrush/right.png",
			"hover" : "/interface/scripted/srm_worldbrush/righthover.png",
			"pressedOffset": [0, -1]
		},
		"selectColorRegion": {
			"type": "radioGroup",
			"toggleMode": false,
			"callback": "selectColorRegionRadios",
			"position": [64, 86],
			"buttons": [{
					"baseImage": "/interface/scripted/srm_worldbrush/1.png",
					"hoverImage": "/interface/scripted/srm_worldbrush/1hover.png",
					"baseImageChecked": "/interface/scripted/srm_worldbrush/1.png?brightness=-50",
					"hoverImageChecked": "/interface/scripted/srm_worldbrush/1hover.png?brightness=-50",
					"pressedOffset": [0, -1],
					"position": [0, 14],
					"data": "bodytop",
					"selected": true
				},
				{
					"baseImage": "/interface/scripted/srm_worldbrush/2.png",
					"hoverImage": "/interface/scripted/srm_worldbrush/2hover.png",
					"baseImageChecked": "/interface/scripted/srm_worldbrush/2.png?brightness=-50",
					"hoverImageChecked": "/interface/scripted/srm_worldbrush/2hover.png?brightness=-50",
					"pressedOffset": [0, -1],
					"position": [21, 14],
					"data": "bodymid"
				},
				{
					"baseImage": "/interface/scripted/srm_worldbrush/3.png",
					"hoverImage": "/interface/scripted/srm_worldbrush/3hover.png",
					"baseImageChecked": "/interface/scripted/srm_worldbrush/3.png?brightness=-50",
					"hoverImageChecked": "/interface/scripted/srm_worldbrush/3hover.png?brightness=-50",
					"pressedOffset": [0, -1],
					"position": [0, 0],
					"data": "bodybottom"
				},
				{
					"baseImage": "/interface/scripted/srm_worldbrush/4.png",
					"hoverImage": "/interface/scripted/srm_worldbrush/4hover.png",
					"baseImageChecked": "/interface/scripted/srm_worldbrush/4.png?brightness=-50",
					"hoverImageChecked": "/interface/scripted/srm_worldbrush/4hover.png?brightness=-50",
					"pressedOffset": [0, -1],
					"position": [21, 0],
					"data": "face"
				}
			]
		},
		"defaultColors" : {
			"type" : "button",
			"callback": "defaultColorsCheck",
			"pressedOffset" : [0, 0],
			"position" : [5, 57],
			"base" : "/interface/scripted/srm_worldbrush/check.png",
			"hover" : "/interface/scripted/srm_worldbrush/checkhover.png",
			"baseImageChecked" : "/interface/scripted/srm_worldbrush/checked.png",
			"hoverImageChecked" : "/interface/scripted/srm_worldbrush/checkedhover.png",
			"checkable" : true,
			"checked" : false
		},
		"lblDefaultColors" : {
			"type" : "label",
			"position" : [17, 58],
			"hAnchor" : "left",
			"wrapWidth" : 125,
			"value" : "^shadow;Default Colors^reset;"
		},
		"placeEyes" : {
			"type" : "button",
			"callback": "placeEyesCheck",
			"pressedOffset" : [0, 0],
			"position" : [5, 42],
			"base" : "/interface/scripted/srm_worldbrush/check.png",
			"hover" : "/interface/scripted/srm_worldbrush/checkhover.png",
			"baseImageChecked" : "/interface/scripted/srm_worldbrush/checked.png",
			"hoverImageChecked" : "/interface/scripted/srm_worldbrush/checkedhover.png",
			"checkable" : true,
			"checked" : false
		},
		"lblPlaceEyes" : {
			"type" : "label",
			"position" : [17, 43],
			"hAnchor" : "left",
			"wrapWidth" : 125,
			"value" : "^shadow;Place Eyes^reset;"
		},
		"destroyTiles" : {
			"type" : "button",
			"callback": "destroyTilesCheck",
			"pressedOffset" : [0, 0],
			"position" : [5, 27],
			"base" : "/interface/scripted/srm_worldbrush/check.png",
			"hover" : "/interface/scripted/srm_worldbrush/checkhover.png",
			"baseImageChecked" : "/interface/scripted/srm_worldbrush/checked.png",
			"hoverImageChecked" : "/interface/scripted/srm_worldbrush/checkedhover.png",
			"checkable" : true,
			"checked" : false
		},
		"lblDestroyTiles" : {
			"type" : "label",
			"position" : [17, 28],
			"hAnchor" : "left",
			"wrapWidth" : 125,
			"value" : "^shadow;Remove Tiles Instead^reset;"
		}
	},

	"scriptWidgetCallbacks": [
		"selectColorRegionRadios", "lastTileButton", "nextTileButton", "defaultColorsCheck", "placeEyesCheck", "destroyTilesCheck"
	],

	"scripts": ["/interface/scripted/srm_worldbrush/srm_worldbrush.lua"],
	"scriptDelta": 1,

  "serializeSelection": true
}