{
  "conversations" : [
    [
	  "IT'S THE FREAK PHONE, AND HERE'S THE PARTY FREAK. FREDDIE FREAKER, DANCIN' NEW SENSATION, REVVIN' UP THE NATION, DOIN' THE FREAK. CALL NOW. 1-900-490-FREAK. JOIN THE PARTY, THE FAST AND EASY WAY. YOU HEAR WHAT'S SCAMMIN' FROM NEW YORK TO L.A.",
// This is the longest possible string that can fit in a radio message. Anything longer won't display.
	  "CALL NOW. 1-900-490-FREAK. WHAT'S HAPPENIN', WHAT'S JAMMIN' PARTY 'TILL YOU DROP, DIAL AND HEAR THE ACTION, WHAT'S HOT AND WHAT'S NOT. CALL NOW. 1-900-490-FREAK.",
	  "$2 a call."
	],
    [
	  "Hey, you got a bladder yourself? Ditch that piss-sack and use me instead. I'm WAY cooler!",
      "Do itttt. You know you want to ;)"
	],
    [
	  "* BANG BANG BANG BANG *",
      "CAM ON INGERLAND",
	  "* BANG BANG BANG BANG *",
      "SCOR SOM FACKIN GOALS",
	  "* BANG BANG BANG BANG *"
	],
    [
	  "They're always departing but they never arrive...",
      "And the ones that do arrive...",
	  "They never leave...",
      "You never see them go they're always full...",
	  "No one ever gets on but they're always...",
	  "They're always departing but they never arrive..."
	]
  ],
  "statements" : [
    "Hey, you just passed by a treasure chest!",
	"You hear that? I don't.",
	"Hey, you smell something? Me neither, start pissing.",
	"I hate trees.",
	"Dream stans are nice and you shouldn't be a fan of dream is your not a dream stan.",
	"When's the toilet I'm all big and round with piss I can't take it much longer-",
	"SUBSCRIBE TO ME, DAMNIT!",
	"Bottom Text",
	"BABYLON WAGES WAR ON BABYLON, THE HEAD BITES THE TAIL AND IN DEATH WE ARE REBORN!!!",
	"Hey, so, what happens to me if you die? Do I just rot or can I get a new host?",
	"You still think about them, don't you? Does it hurt? Does it keep you up at night knowing it's your fault? Haha just kidding... Unless?",
	"...In English, they pronounce it “Paris,” but everyone else pronounces it without the “s” sound, like the French do. But with Venezia, everyone says it the English way, “Venice.” Like The Merchant of Venice and Death in Venice... Why though?!",
	"What the hell does it mean to take a leaf out of someone's book?! What's a leaf doing inside a book?! You think I'm stupid?!",
	"Oh, hi. How are you holding up? Because I'm a bladder.",
	"So sad that Steve Jobs died of Ligma.",
	"Look at this photograph... Every time I look it makes me laugh.",
	"You should try selling Dirt. I heard it sells pretty well overseas.",
	"Hephaestus's holy number is 6. Orphiel's holy number is 9. Nice."
  ]
}
