{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/scripted/srm_loadoutotron/header.png",
			"fileBody": "/interface/scripted/srm_loadoutotron/body.png",
			"fileFooter": "/interface/scripted/srm_loadoutotron/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/scripted/srm_loadoutotron/x.png",
			"hover": "/interface/scripted/srm_loadoutotron/xhover.png",
			"press": "/interface/scripted/srm_loadoutotron/xpress.png",
			"pressedOffset": [0, -2],
			"position": [112, 97]
		},
		"lblTitleArm" : {
			"type" : "label",
			"position" : [8, 98],
			"hAnchor" : "left",
			"wrapWidth" : 125,
			"value" : "^shadow;Loadout-O-Tron^reset;"
		},
		"armDisplay" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_loadoutotron/armdisplay.png",
			"position" : [46, 57],
			"zlevel" : 1
		},
		"currentArm" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_loadoutotron/defaultarm.png",
			"position" : [49, 60],
			"zlevel" : 2
		},
		"lblArmName" : {
			"type" : "label",
			"position" : [65, 42],
			"hAnchor" : "mid",
			"wrapWidth" : 120,
			"value" : "^shadow;Default Drill Arm^reset;"
		},
		"lastArm" : {
			"type" : "button",
			"position" : [33, 66],
			"caption" : "",
			"callback": "lastArmButton",
			"base" : "/interface/scripted/srm_loadoutotron/left.png",
			"hover" : "/interface/scripted/srm_loadoutotron/lefthover.png",
			"pressedOffset": [0, -1]
		},
		"nextArm" : {
			"type" : "button",
			"position" : [86, 66],
			"caption" : "",
			"callback": "nextArmButton",
			"base" : "/interface/scripted/srm_loadoutotron/right.png",
			"hover" : "/interface/scripted/srm_loadoutotron/righthover.png",
			"pressedOffset": [0, -1]
		},
		"isLeftEquipped" : {
			"type" : "button",
			"callback": "equippedLeftCheck",
			"pressedOffset" : [0, 0],
			"position" : [5, 27],
			"base" : "/interface/scripted/srm_loadoutotron/check.png",
			"hover" : "/interface/scripted/srm_loadoutotron/checkhover.png",
			"baseImageChecked" : "/interface/scripted/srm_loadoutotron/checked.png",
			"hoverImageChecked" : "/interface/scripted/srm_loadoutotron/checkedhover.png",
			"checkable" : true,
			"checked" : true
		},
		"lblIsLeftEquipped" : {
			"type" : "label",
			"position" : [17, 28],
			"hAnchor" : "left",
			"wrapWidth" : 125,
			"value" : "^shadow;Equipped^reset;"
		},
		"isRightEquipped" : {
			"type" : "button",
			"callback": "equippedRightCheck",
			"pressedOffset" : [0, 0],
			"position" : [115, 27],
			"base" : "/interface/scripted/srm_loadoutotron/check.png",
			"hover" : "/interface/scripted/srm_loadoutotron/checkhover.png",
			"baseImageChecked" : "/interface/scripted/srm_loadoutotron/checked.png",
			"hoverImageChecked" : "/interface/scripted/srm_loadoutotron/checkedhover.png",
			"checkable" : true,
			"checked" : false
		},
		"lblIsRightEquipped" : {
			"type" : "label",
			"position" : [114, 28],
			"hAnchor" : "right",
			"wrapWidth" : 125,
			"value" : "^shadow;Unequipped^reset;"
		}
	},

	"scriptWidgetCallbacks": [
		"lastArmButton", "nextArmButton", "equippedLeftCheck", "equippedRightCheck"
	],

	"scripts": ["/interface/scripted/srm_loadoutotron/srm_loadoutotron.lua"],
	"scriptDelta": 1,

  "serializeSelection": true
}