// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// This is for procedurally generated treasure.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
{
	// These are for the kinds of treasure.
	"kind" : [ // Up to 2.5x
		{
			"name" : "Idol",
			"frame" : "idol.png",
			"pricemultiplier" : 2.0,
			"weight" : 1.0
		},
		{
			"name" : "Bracelet",
			"frame" : "bracelet.png",
			"pricemultiplier" : 1.0,
			"weight" : 2.0
		},
		{
			"name" : "Cross",
			"frame" : "cross.png",
			"pricemultiplier" : 1.5,
			"weight" : 1.0
		},
		{
			"name" : "Tablet",
			"frame" : "tablet.png",
			"pricemultiplier" : 2.5,
			"weight" : 0.5
		},
		{
			"name" : "Dagger",
			"frame" : "dagger.png",
			"pricemultiplier" : 1.5,
			"weight" : 1.0
		},
		{
			"name" : "Crown",
			"frame" : "crown.png",
			"pricemultiplier" : 1.0,
			"weight" : 2.0
		},
		{
			"name" : "Charm",
			"frame" : "charm.png",
			"pricemultiplier" : 0.5,
			"weight" : 3.0
		},
		{
			"name" : "Necklace",
			"frame" : "necklace.png",
			"pricemultiplier" : 1.0,
			"weight" : 2.0
		}
	],
	// These are for the material of the treasure.
	"material" : [ // Up to 5.0x
		{
			"name" : "Golden",
			"directives" : "",
			"pricemultiplier" : 5.0,
			"weight" : 1.0
		},
		{
			"name" : "Solarium",
			"directives" : "?replace;fefefe=fefefe;fff48f=fff327;ffd84d=f4a700;e2af20=c67700;b97c01=984700",
			/* first half is base color, second half is color you want
			?replace
			;fefefe=fefefe
			;fff48f=fff327
			;ffd84d=f4a700
			;e2af20=c67700
			;b97c01=984700
			*/
			"pricemultiplier" : 4.5,
			"weight" : 1.0
		},
		{
			"name" : "Aegisalt",
			"directives" : "?replace;fefefe=ffffe4;fff48f=e8e633;ffd84d=b9c932;e2af20=88a826;b97c01=2c7d17",
			/* first half is base color, second half is color you want
			?replace
			;fefefe=ffffe4
			;fff48f=e8e633
			;ffd84d=b9c932
			;e2af20=88a826
			;b97c01=2c7d17
			*/
			"pricemultiplier" : 4.0,
			"weight" : 2.0
		},
		{
			"name" : "Ferozium",
			"directives" : "?replace;fefefe=d8edec;fff48f=aae6e2;ffd84d=7fc9ca;e2af20=53acb1;b97c01=32636b",
			/* first half is base color, second half is color you want
			?replace
			;fefefe=d8edec
			;fff48f=aae6e2
			;ffd84d=7fc9ca
			;e2af20=53acb1
			;b97c01=32636b
			*/
			"pricemultiplier" : 4.0,
			"weight" : 2.0
		},
		{
			"name" : "Violium",
			"directives" : "?replace;fefefe=e9afff;fff48f=bb47ff;ffd84d=9622e5;e2af20=6a01b1;b97c01=3d0068",
			/* first half is base color, second half is color you want
			?replace
			;fefefe=e9afff
			;fff48f=bb47ff
			;ffd84d=9622e5
			;e2af20=6a01b1
			;b97c01=3d0068
			*/
			"pricemultiplier" : 4.0,
			"weight" : 2.0
		},
		{
			"name" : "Durasteel",
			"directives" : "?replace;fefefe=d1d9e3;fff48f=a0b5d4;ffd84d=7887b3;e2af20=4b4d8c;b97c01=211e55",
			/* first half is base color, second half is color you want
			?replace
			;fefefe=d1d9e3
			;fff48f=a0b5d4
			;ffd84d=7887b3
			;e2af20=4b4d8c
			;b97c01=211e55
			*/
			"pricemultiplier" : 3.0,
			"weight" : 3.0
		},
		{
			"name" : "Silver",
			"directives" : "?replace;fefefe=fefefe;fff48f=d7ecfa;ffd84d=b3cbdf;e2af20=8799aa;b97c01=647080",
			/* first half is base color, second half is color you want
			?replace
			;fefefe=fefefe
			;fff48f=d7ecfa
			;ffd84d=b3cbdf
			;e2af20=8799aa
			;b97c01=647080
			*/
			"pricemultiplier" : 3.0,
			"weight" : 3.0
		},
		{
			"name" : "Tungsten",
			"directives" : "?replace;fefefe=d6d8da;fff48f=b8babd;ffd84d=95989d;e2af20=72767d;b97c01=3b3e42",
			/* first half is base color, second half is color you want
			?replace
			;fefefe=d6d8da
			;fff48f=b8babd
			;ffd84d=95989d
			;e2af20=72767d
			;b97c01=3b3e42
			*/
			"pricemultiplier" : 2.0,
			"weight" : 4.0
		},
		{
			"name" : "Titanium",
			"directives" : "?replace;fefefe=fefefe;fff48f=dad8ed;ffd84d=c6a5cd;e2af20=9781b7;b97c01=685da0",
			/* first half is base color, second half is color you want
			?replace
			;fefefe=fefefe
			;fff48f=dad8ed
			;ffd84d=c6a5cd
			;e2af20=9781b7
			;b97c01=685da0
			*/
			"pricemultiplier" : 2.0,
			"weight" : 4.0
		},
		{
			"name" : "Bronze",
			"directives" : "?replace;fefefe=fefefe;fff48f=c0ab5e;ffd84d=9b7e14;e2af20=6b5509;b97c01=342804",
			/* first half is base color, second half is color you want
			?replace
			;fefefe=fefefe
			;fff48f=c0ab5e
			;ffd84d=9b7e14
			;e2af20=6b5509
			;b97c01=342804
			*/
			"pricemultiplier" : 0.6,
			"weight" : 5.0
		},
		{
			"name" : "Copper",
			"directives" : "?replace;fefefe=fefefe;fff48f=fcd6b8;ffd84d=e7ab89;e2af20=bd795a;b97c01=89360d",
			/* first half is base color, second half is color you want
			?replace
			;fefefe=fefefe
			;fff48f=fcd6b8
			;ffd84d=e7ab89
			;e2af20=bd795a
			;b97c01=89360d
			*/
			"pricemultiplier" : 1.0,
			"weight" : 5.0
		},
		{
			"name" : "Iron",
			"directives" : "?replace;fefefe=ebe1dc;fff48f=ada197;ffd84d=696f67;e2af20=565250;b97c01=433539",
			/* first half is base color, second half is color you want
			?replace
			;fefefe=ebe1dc
			;fff48f=ada197
			;ffd84d=696f67
			;e2af20=565250
			;b97c01=433539
			*/
			"pricemultiplier" : 1.0,
			"weight" : 5.0
		}
	],
	// These are for the treasure's gem type.
	"gem" : [ // Up to 5.0x
		{
			"name" : "Diamond",
			"directives" : "",
			"pricemultiplier" : 5.0,
			"weight" : 1.0
		},
		{
			"name" : "Ruby",
			"directives" : "?replace;ffffff=ffffff;b0ffff=ffb0b0;3acffe=fc3a3a;1278cf=ba1111",
			/* first half is base color, second half is color you want
			?replace
			;ffffff=ffffff
			;b0ffff=ffb0b0
			;3acffe=fc3a3a
			;1278cf=ba1111
			*/
			"pricemultiplier" : 4.0,
			"weight" : 2.0
		},
		{
			"name" : "Emerald",
			"directives" : "?replace;ffffff=ffffff;b0ffff=b0ffb1;3acffe=3afc3a;1278cf=11ba1c",
			/* first half is base color, second half is color you want
			?replace
			;ffffff=ffffff
			;b0ffff=b0ffb1
			;3acffe=3afc3a
			;1278cf=11ba1c
			*/
			"pricemultiplier" : 4.0,
			"weight" : 2.0
		},
		{
			"name" : "Sapphire",
			"directives" : "?replace;ffffff=ffffff;b0ffff=badafb;3acffe=537df5;1278cf=2e35ca",
			/* first half is base color, second half is color you want
			?replace
			;ffffff=ffffff
			;b0ffff=badafb
			;3acffe=537df5
			;1278cf=2e35ca
			*/
			"pricemultiplier" : 4.0,
			"weight" : 2.0
		},
		{
			"name" : "Amethyst",
			"directives" : "?replace;ffffff=ffffff;b0ffff=deb0ff;3acffe=ab3afc;1278cf=7411ba",
			/* first half is base color, second half is color you want
			?replace
			;ffffff=ffffff
			;b0ffff=deb0ff
			;3acffe=ab3afc
			;1278cf=7411ba
			*/
			"pricemultiplier" : 2.0,
			"weight" : 3.0
		},
		{
			"name" : "Topaz",
			"directives" : "?replace;ffffff=ffffff;b0ffff=fff2b0;3acffe=fcdc3a;1278cf=cfaf13",
			/* first half is base color, second half is color you want
			?replace
			;ffffff=ffffff
			;b0ffff=fff2b0
			;3acffe=fcdc3a
			;1278cf=cfaf13
			*/
			"pricemultiplier" : 2.0,
			"weight" : 3.0
		},
		{
			"name" : "Morganite",
			"directives" : "?replace;ffffff=ffffff;b0ffff=ffcccc;3acffe=ff8c8c;1278cf=cc6060",
			/* first half is base color, second half is color you want
			?replace
			;ffffff=ffffff
			;b0ffff=ffcccc
			;3acffe=ff8c8c
			;1278cf=cc6060
			*/
			"pricemultiplier" : 2.0,
			"weight" : 3.0
		},
		{
			"name" : "Amber",
			"directives" : "?replace;ffffff=ffffff;b0ffff=ffdab0;3acffe=fca23a;1278cf=c26e0e",
			/* first half is base color, second half is color you want
			?replace
			;ffffff=ffffff
			;b0ffff=ffdab0
			;3acffe=fca23a
			;1278cf=c26e0e
			*/
			"pricemultiplier" : 2.0,
			"weight" : 3.0
		},
		{
			"name" : "Obsidian",
			"directives" : "?replace;ffffff=ffffff;b0ffff=545454;3acffe=2e2e2e;1278cf=151515",
			/* first half is base color, second half is color you want
			?replace
			;ffffff=ffffff
			;b0ffff=545454
			;3acffe=2e2e2e
			;1278cf=151515
			*/
			"pricemultiplier" : 1.0,
			"weight" : 4.0
		},
		{
			"name" : "Pearl",
			"directives" : "?replace;ffffff=ffffff;b0ffff=f8e8ff;3acffe=d5c8dc;1278cf=b2a7b8",
			/* first half is base color, second half is color you want
			?replace
			;ffffff=ffffff
			;b0ffff=f8e8ff
			;3acffe=d5c8dc
			;1278cf=b2a7b8
			*/
			"pricemultiplier" : 1.0,
			"weight" : 4.0
		}
	],
	// These are for the treasure's state of disrepair.
	"state" : [ // Up to 4.0x
		{
			"name" : "Pristine",
			"rarity" : "Legendary",
			"pricemultiplier" : 4.0,
			"weight" : 1.0
		},
		{
			"name" : "Ancient",
			"rarity" : "Rare",
			"pricemultiplier" : 2.0,
			"weight" : 2.0
		},
		{
			"name" : "Worn",
			"rarity" : "Uncommon",
			"pricemultiplier" : 1.0,
			"weight" : 3.0
		},
		{
			"name" : "Cracked",
			"rarity" : "Common",
			"pricemultiplier" : 0.5,
			"weight" : 4.0
		}
	]
}