// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// This is for the stock market.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
{
	"stocks" : {
		"name" : "Company",
		"type" : "speculative",
		"icon" : "/interface/scripted/srm_stockmarket/icons/stocks.png",
		"offers" : {
			"kuricorp" : {
				"acronym" : "KRCP",
				"name" : "KuriCorp",
				"description" : "A new corporation that specialises in loanable customer service.",
				"icon" : "/interface/scripted/srm_stockmarket/icons/stocks/stock.png",
				"price" : 4000,
				"marketCap" : 100000000
			},
			"miniknogtechnologies" : {
				"acronym" : "APE",
				"name" : "Miniknog Technologies",
				"description" : "A monospecies empire with seemingly infinite manpower and capital.",
				"icon" : "/interface/scripted/srm_stockmarket/icons/stocks/stock.png",
				"price" : 20000,
				"marketCap" : 100000000
			},
			"blackindustries" : {
				"acronym" : "BLCK",
				"name" : "Black Industries",
				"description" : "The legal branch of the Black Market. An important provider of any product of questionable morality.",
				"icon" : "/interface/scripted/srm_stockmarket/icons/stocks/stock.png",
				"price" : 7000,
				"marketCap" : 100000000
			}
		}
	},
	"crypto" : {
		"name" : "Cryptocurrency",
		"type" : "speculative",
		"icon" : "/interface/scripted/srm_stockmarket/icons/crypto.png",
		"offers" : {
			"dogecoin" : {
				"acronym" : "DOGE",
				"name" : "Dogecoin",
				"description" : "A currency originally made by online communities as a joke that was followed through.",
				"icon" : "/interface/scripted/srm_stockmarket/icons/stocks/stock.png",
				"price" : 25,
				"marketCap" : 100000000
			},
			"comcoin" : {
				"acronym" : "CM",
				"name" : "Comcoin",
				"description" : "A similar upbringing to the Dogecoin, however much more obscene in it's origins.",
				"icon" : "/interface/scripted/srm_stockmarket/icons/stocks/stock.png",
				"price" : 69,
				"marketCap" : 100000000
			},
			"pixcoin" : {
				"acronym" : "PXCN",
				"name" : "Pixcoin",
				"description" : "The original cryptocurrency of the universe wide web.",
				"icon" : "/interface/scripted/srm_stockmarket/icons/stocks/stock.png",
				"price" : 1000,
				"marketCap" : 100000000
			},
			"bytecoin" : {
				"acronym" : "BTC",
				"name" : "Bytecoin",
				"description" : "While not the first, the most popular cryptocurrency, used even in some physical stores.",
				"icon" : "/interface/scripted/srm_stockmarket/icons/stocks/stock.png",
				"price" : 900,
				"marketCap" : 100000000
			},
			"chucklecoin" : {
				"acronym" : "CHFS",
				"name" : "Chucklecoin",
				"description" : "Some bad corporation's custom cryptocurrency. It isn't doing anything.",
				"icon" : "/interface/scripted/srm_stockmarket/icons/stocks/stock.png",
				"price" : 250,
				"marketCap" : 100000000
			},
			"sovolokash" : {
				"acronym" : "SOV",
				"name" : "Sovolokash",
				"description" : "This one came out of nowhere and stuck around because people liked the personality it was made by.",
				"icon" : "/interface/scripted/srm_stockmarket/icons/crypto/sovolokash.png",
				"price" : 500,
				"marketCap" : 100000000
			}
		}
	},
	
	// FOR PHYSICAL STOCKS, ITEM NAME IS CASE SENSITIVE
	
	"materials" : {
		"name" : "Material",
		"type" : "physical",
		"icon" : "/interface/scripted/srm_stockmarket/icons/materials.png",
		"offers" : {
			"coal" : {
				"acronym" : "COAL",
				"name" : "Coal",
				"icon" : "/items/generic/crafting/coalore.png",
				"sourceItem" : "coalore",
				"marketCap" : 100000000
			},
			"copper" : {
				"acronym" : "CPPR",
				"name" : "Copper Bar",
				"icon" : "/items/generic/crafting/copperbar.png",
				"sourceItem" : "copperbar",
				"marketCap" : 100000000
			},
			"silver" : {
				"acronym" : "SLVR",
				"name" : "Silver Bar",
				"icon" : "/items/generic/crafting/silverbar.png",
				"sourceItem" : "silverbar",
				"marketCap" : 100000000
			},
			"gold" : {
				"acronym" : "GOLD",
				"name" : "Gold Bar",
				"icon" : "/items/generic/crafting/goldbar.png",
				"sourceItem" : "goldbar",
				"marketCap" : 100000000
			},
			"diamond" : {
				"acronym" : "DMND",
				"name" : "Diamond",
				"icon" : "/items/generic/crafting/diamond.png",
				"sourceItem" : "diamond",
				"marketCap" : 100000000
			}
		}
	},
	"monsterFigurines" : {
		"name" : "Figurine",
		"type" : "physical",
		"icon" : "/interface/scripted/srm_stockmarket/icons/figurines.png",
		"offers" : {
			"poptop" : {
				"acronym" : "POP",
				"name" : "Poptop",
				"icon" : "/objects/actionfigure/poptop/poptopaf.png",
				"sourceItem" : "poptopaf",
				"marketCap" : 100000000
			},
			"gleap" : {
				"acronym" : "GLP",
				"name" : "Gleap",
				"icon" : "/objects/actionfigure/gleap/gleapAF.png",
				"sourceItem" : "gleapaf",
				"marketCap" : 100000000
			},
			"petricub" : {
				"acronym" : "PTCB",
				"name" : "Petricub",
				"icon" : "/objects/actionfigure/petricub/petricubAF.png",
				"sourceItem" : "petricubaf",
				"marketCap" : 100000000
			}
		}
	},
	"organs" : {
		"name" : "Organ",
		"type" : "physical",
		"icon" : "/interface/scripted/srm_stockmarket/icons/organs.png",
		"offers" : {
			"brain" : {
				"acronym" : "BRN",
				"name" : "Brain",
				"icon" : "/items/generic/bodyparts/srm_brain.png",
				"sourceItem" : "srm_brain",
				"marketCap" : 100000000
			},
			"eyeball" : {
				"acronym" : "EYE",
				"name" : "Eyeball",
				"icon" : "/items/generic/bodyparts/srm_eyeball.png",
				"sourceItem" : "srm_eyeball",
				"marketCap" : 100000000
			},
			"heart" : {
				"acronym" : "HRT",
				"name" : "Heart",
				"icon" : "/items/generic/bodyparts/srm_heart.png",
				"sourceItem" : "srm_heart",
				"marketCap" : 100000000
			},
			"intestines" : {
				"acronym" : "INTS",
				"name" : "A Measure Of Intestines",
				"icon" : "/items/generic/bodyparts/srm_intestines.png",
				"sourceItem" : "srm_intestines",
				"marketCap" : 100000000
			},
			"kidney" : {
				"acronym" : "KDNY",
				"name" : "Kidney",
				"icon" : "/items/generic/bodyparts/srm_kidney.png",
				"sourceItem" : "srm_kidney",
				"marketCap" : 100000000
			},
			"liver" : {
				"acronym" : "LVR",
				"name" : "Liver",
				"icon" : "/items/generic/bodyparts/srm_liver.png",
				"sourceItem" : "srm_liver",
				"marketCap" : 100000000
			},
			"lungs" : {
				"acronym" : "LNG",
				"name" : "Lungs",
				"icon" : "/items/generic/bodyparts/srm_lungs.png",
				"sourceItem" : "srm_lungs",
				"marketCap" : 100000000
			},
			"nerves" : {
				"acronym" : "NRV",
				"name" : "A Measure Of Nerves",
				"icon" : "/items/generic/bodyparts/srm_nerves.png",
				"sourceItem" : "srm_nerves",
				"marketCap" : 100000000
			},
			"pancreas" : {
				"acronym" : "PNCR",
				"name" : "Pancreas",
				"icon" : "/items/generic/bodyparts/srm_pancreas.png",
				"sourceItem" : "srm_pancreas",
				"marketCap" : 100000000
			},
			"stomach" : {
				"acronym" : "STMC",
				"name" : "Stomach",
				"icon" : "/items/generic/bodyparts/srm_stomach.png",
				"sourceItem" : "srm_stomach",
				"marketCap" : 100000000
			},
			"veins" : {
				"acronym" : "VNS",
				"name" : "A Measure Of Veins",
				"icon" : "/items/generic/bodyparts/srm_veins.png",
				"sourceItem" : "srm_veins",
				"marketCap" : 100000000
			}
		}
	}
}