// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// This is for anything that requires specific racial configurations.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
{
	"default" : {
		"bloodType" : "srm_liquidblood",
		"isCannibal" : "false",
		"build" : "random"
	},
	"monster" : {
		"bloodType" : "srm_liquidmonsterblood",
		"isCannibal" : "true",
		"build" : "random"
	},
	
	
	
	"shoggoth" : {
		"bloodType" : "srm_eldritchslime",
		"isCannibal" : "true",
		"build" : "bulky"
	},
	"mindflayer" : {
		"bloodType" : "srm_eldritchslime",
		"isCannibal" : "true",
		"build" : "smart"
	},
	"nightgaunt" : {
		"bloodType" : "srm_eldritchslime",
		"isCannibal" : "true",
		"build" : "swift"
	},
	
	
	
	"human" : {
		"bloodType" : "srm_liquidblood",
		"isCannibal" : "false",
		"build" : "swift"
	},
	"floran" : {
		"bloodType" : "srm_liquidsap",
		"isCannibal" : "true",
		"build" : "bulky"
	},
	"avian" : {
		"bloodType" : "srm_liquidblood",
		"isCannibal" : "false",
		"build" : "swift"
	},
	"apex" : {
		"bloodType" : "srm_liquidblood",
		"isCannibal" : "false",
		"build" : "smart"
	},
	"novakid" : {
		"bloodType" : "liquidlava",
		"isCannibal" : "false",
		"build" : "swift"
	},
	"glitch" : {
		"bloodType" : "liquidoil",
		"isCannibal" : "true",
		"build" : "bulky"
	},
	"hylotl" : {
		"bloodType" : "srm_liquidblood",
		"isCannibal" : "false",
		"build" : "smart"
	},
	
	
	
	"lucario" : {
		"bloodType" : "eaura",
		"isCannibal" : "false",
		"build" : "swift"
	},
	"FutaraDragon" : {
		"bloodType" : "srm_liquidblood",
		"isCannibal" : "false",
		"build" : "bulky"
	},
	"arcanian" : {
		"bloodType" : "srm_liquidblood",
		"isCannibal" : "false",
		"build" : "smart"
	},
	"saturn" : {
		"bloodType" : "srm_liquidmonsterblood",
		"isCannibal" : "false",
		"build" : "smart"
	},
	"saturn2" : {
		"bloodType" : "srm_liquidmonsterblood",
		"isCannibal" : "false",
		"build" : "smart"
	},
	"satkyterran" : {
		"bloodType" : "srm_liquidmonsterblood",
		"isCannibal" : "false",
		"build" : "bulky"
	},
	"apiarian" : {
		"bloodType" : "srm_liquidmonsterblood",
		"isCannibal" : "false",
		"build" : "smart"
	},
	"saturnmothman" : {
		"bloodType" : "liquidoil",
		"isCannibal" : "false",
		"build" : "bulky"
	},
	"scyphojel" : {
		"bloodType" : "scyphojel_mesoslime",
		"isCannibal" : "false",
		"build" : "swift"
	},
	"angel" : {
		"bloodType" : "om_angelblood",
		"isCannibal" : "false",
		"build" : "bulky"
	},
	"nebulac" : {
		"bloodType" : "srm_gas",
		"isCannibal" : "false",
		"build" : "smart"
	},
	"denelaun" : {
		"bloodType" : "srm_liquidblood",
		"isCannibal" : "true",
		"build" : "bulky"
	},
	"om_harpy" : {
		"bloodType" : "srm_liquidblood",
		"isCannibal" : "true",
		"build" : "swift"
	}
}