// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// This is for the lucky block.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
{
	// This setup allows users to make their own lucky blocks.
	"default" : {
		"diamond" : {
			"outcomeLuckPosition" : 80,
			// This variable, ranging from -100 to 100, indicates how unlucky or lucky it is. Higher is luckier.
			"outcomeEvents" : [
				// Each outcome can house multiple events, which are to your discretion.
				{
					"type" : "srm_luckyblock_items",
					// This variable dictates the type of the stagehand. 
					"parameters" : [
						{ "type" : "item", "name" : "diamond", "count" : 1, "parameters" : {} },
						{ "type" : "item", "name" : "diamond", "count" : 1, "parameters" : {} },
						{ "type" : "item", "name" : "diamond", "count" : 1, "parameters" : {} },
						{ "type" : "item", "name" : "diamond", "count" : 1, "parameters" : {} },
						{ "type" : "item", "name" : "diamond", "count" : 1, "parameters" : {} }
					]
					// The parameters necessary change depending on the type of event and whatnot.
				},
				{
					"type" : "srm_luckyblock_items",
					// This variable dictates the type of the stagehand. 
					"parameters" : [
						{ "type" : "item", "name" : "diamond", "count" : 1, "parameters" : {} },
						{ "type" : "item", "name" : "diamond", "count" : 1, "parameters" : {} },
						{ "type" : "item", "name" : "diamond", "count" : 1, "parameters" : {} },
						{ "type" : "item", "name" : "diamond", "count" : 1, "parameters" : {} },
						{ "type" : "item", "name" : "diamond", "count" : 1, "parameters" : {} }
					]
					// The parameters necessary change depending on the type of event and whatnot.
				}
			]
		},
		"erchiusGhostTemporary" : {
			"outcomeLuckPosition" : -100,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_projectiles",
					"parameters" : [
						{ "name" : "srm_statusapplier", "spawnOnPlayer" : "true", "offset" : [ 0, 0 ], "direction" : [ 0, 1 ], "parameters" : { "statusEffects" : [ { "effect": "srm_luckyblocksickness", "duration" : 60 } ] } }
					]
				}
			]
		},
		"essenceRain" : {
			"outcomeLuckPosition" : 100,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_projectiles",
					"parameters" : [
						{ "name" : "srm_statusapplier", "spawnOnPlayer" : "true", "offset" : [ 0, 0 ], "direction" : [ 0, 1 ], "parameters" : { "statusEffects" : [ { "effect": "srm_essencerain", "duration" : 25 } ] } }
					]
				}
			]
		},
		"superChest" : {
			"outcomeLuckPosition" : 50,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_items",
					"parameters" : [
						{ "type" : "treasure", "name" : "valuableTreasure" },
						{ "type" : "treasure", "name" : "weapon" },
						{ "type" : "treasure", "name" : "shield" },
						{ "type" : "treasure", "name" : "basicTreasure" },
						{ "type" : "treasure", "name" : "basicTreasure" },
						{ "type" : "treasure", "name" : "basicTreasure" },
						{ "type" : "treasure", "name" : "basicTreasure" },
						{ "type" : "treasure", "name" : "basicTreasure" },
						{ "type" : "treasure", "name" : "basicTreasure" },
						{ "type" : "treasure", "name" : "basicTreasure" },
						{ "type" : "treasure", "name" : "basicTreasure" },
						{ "type" : "treasure", "name" : "basicTreasure" },
						{ "type" : "treasure", "name" : "basicTreasure" }
					]
				}
			]
		},
		"lavaTrap" : {
			"outcomeLuckPosition" : -80,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_structure",
					"parameters" : { 
						"name" : "srm_luckyblock_lavatrap",
						"spawnOnPlayer" : "true",
						"offset" : [ -2, 13 ]
					}
				}
			]
		},
		"tripleFirework" : {
			"outcomeLuckPosition" : 0,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_projectiles",
					"parameters" : [
						{ "name" : "firework", "spawnOnPlayer" : "false", "offset" : [ 0, 0 ], "direction" : [ 0, 20 ], "parameters" : { "speed" : 15, "timeToLive" : 2.6 } },
						{ "name" : "fireworkblue", "spawnOnPlayer" : "false", "offset" : [ 0, 0 ], "direction" : [ 10, 15 ], "parameters" : { "speed" : 15, "timeToLive" : 1.8 } },
						{ "name" : "fireworkgreen", "spawnOnPlayer" : "false", "offset" : [ 0, 0 ], "direction" : [ -10, 15 ], "parameters" : { "speed" : 15, "timeToLive" : 1 } }
					]
				}
			]
		},
		"randomDude" : {
			"outcomeLuckPosition" : 20,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_entities",
					"parameters" : [
						{ "type" : "npc", "name" : "villager", "species" : "random", "parameters" : {} }
					]
				}
			]
		},
		"randomCrewmember" : {
			"outcomeLuckPosition" : 40,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_entities",
					"parameters" : [
						{ "type" : "npc", "name" : "crewmember", "species" : "random", "parameters" : {} }
					]
				}
			]
		},
		"tinyFlyingMonster" : {
			"outcomeLuckPosition" : -20,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_entities",
					"parameters" : [
						{ "type" : "monster", "name" : "smallflying", "parameters" : {} }
					]
				}
			]
		},
		"steamComment" : {
			"outcomeLuckPosition" : -50,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_projectiles",
					"parameters" : [
						{ "name" : "srm_steamcomment", "spawnOnPlayer" : "true", "offset" : [ 0, 20 ], "direction" : [ 0, -1 ], "parameters" : { } }
					]
				}
			]
		},
		"lotsOfFluffies" : {
			"outcomeLuckPosition" : 20,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_entities",
					"parameters" : [
						{ "type" : "monster", "name" : "bunnycritter", "parameters" : {} },
						{ "type" : "monster", "name" : "bunnycritter", "parameters" : {} },
						{ "type" : "monster", "name" : "bunnycritter", "parameters" : {} },
						{ "type" : "monster", "name" : "blackcat", "parameters" : {} },
						{ "type" : "monster", "name" : "blackcat", "parameters" : {} },
						{ "type" : "monster", "name" : "blackcat", "parameters" : {} },
						{ "type" : "monster", "name" : "pinfriend", "parameters" : {} },
						{ "type" : "monster", "name" : "pinfriend", "parameters" : {} },
						{ "type" : "monster", "name" : "pinfriend", "parameters" : {} }
					]
				}
			]
		},
		"nudeEffect" : {
			"outcomeLuckPosition" : -5,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_projectiles",
					"parameters" : [
						{ "name" : "srm_statusapplier", "spawnOnPlayer" : "true", "offset" : [ 0, 0 ], "direction" : [ 0, 1 ], "parameters" : { "statusEffects" : [ { "effect": "nude", "duration" : 15 } ] } }
					]
				}
			]
		},
		"craig" : {
			"outcomeLuckPosition" : -1,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_entities",
					"parameters" : [
						{ "type" : "npc", "name" : "villager", "species" : "human", "parameters" : { "npcname" : "Craig", "gender" : "male" } }
					]
				}
			]
		},
		"discountSoda" : {
			"outcomeLuckPosition" : 14,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_items",
					"parameters" : [
						{ "type" : "item", "name" : "soda", "count" : 1, "parameters" : { "shortdescription" : "-25% Off Soda", "description" : "This refreshing can of soda was on sale.", "price" : 30 } }
						]
				}
			]
		},
		"corn" : {
			"outcomeLuckPosition" : 5,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_items",
					"parameters" : [
						{ "type" : "item", "name" : "corn", "count" : 1, "parameters" : { } }
					]
				}
			]
		},
		"violiumbroadsword" : {
			"outcomeLuckPosition" : 60,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_items",
					"parameters" : [
						{ "type" : "item", "name" : "violiumbroadsword", "count" : 1, "parameters" : { } }
					]
				}
			]
		},
		"fishbowl" : {
			"outcomeLuckPosition" : 20,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_structure",
					"parameters" : { 
						"name" : "srm_luckyblock_fishbowl",
						"spawnOnPlayer" : "false",
						"offset" : [ -12, 23 ]
					}
				}
			]
		},
		"neverendingNightmare" : {
			"outcomeLuckPosition" : 20,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_structure",
					"parameters" : { 
						"name" : "srm_luckyblock_neverendingnightmare",
						"spawnOnPlayer" : "false",
						"offset" : [ -1, 2 ]
					}
				}
			]
		},
		"podShrine" : {
			"outcomeLuckPosition" : 40,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_structure",
					"parameters" : { 
						"name" : "srm_luckyblock_podshrine",
						"spawnOnPlayer" : "false",
						"offset" : [ -9, 14 ]
					}
				}
			]
		},
		"reverbFart" : {
			"outcomeLuckPosition" : -1,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_projectiles",
					"parameters" : [
						{ "name" : "srm_statusapplier", "spawnOnPlayer" : "true", "offset" : [ 0, 0 ], "direction" : [ 0, 1 ], 
						"parameters" : { "timeToLive" : 0, "actionOnReap" : [ { "action" : "sound", "options" : [ "/sfx/objects/reverbfart.ogg" ] } ] } }
					]
				}
			]
		},
		"weapon" : {
			"outcomeLuckPosition" : 10,
			"outcomeEvents" : [
				{
					"type" : "srm_luckyblock_items",
					"parameters" : [
						{ "type" : "treasure", "name" : "weapon" }
					]
				}
			]
		}
	}
}