// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// This is for the stuff inside the belly of the beast.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
[
	{ 
		"name" : "srm_chainsawdagger", 
		"message" : "You have obtained the blueprint for the ^orange;Chainsaw Dagger^reset;, craftable at the Deathstate Portal inside the Weapons category. This weapon tears foes apart with brutal efficiency, allowing the user to harvest many bodily materials." 
	},
	{ 
		"name" : "srm_galaxybrush", 
		"message" : "You have obtained the blueprint for the ^orange;Galaxy Brush^reset;, craftable at the Deathstate Portal inside the Miscellaneous category. It has the same utility as it's predecessor, but with enhanced offensive abilities." 
	},
	{ 
		"name" : "srm_lifejuice", 
		"message" : "You have obtained the blueprint for ^orange;Life Juice^reset;, craftable at the Deathstate Portal inside the Weapons category. This blender mixes up all three main resources and allows to store them efficiently." 
	},
	{ 
		"name" : "srm_zeroblade", 
		"message" : "You have obtained the blueprint for the ^orange;Zero Blade^reset;, craftable at the Deathstate Portal inside the Weapons category. This sword seals the curse of the ^orange;Cursed Sword^reset;, but at a 'heavy' price." 
	}
]