// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// This is for the world brush.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
{
	"modifier"	:	"/tiles/mods/srm_shoggotheyepatch.worldbrush",
	"tilelist"	:	[
		"/tiles/materials/srm_shoggothblock.worldbrush",
		"/tiles/materials/srm_shoggothbrick.worldbrush",
		"/tiles/materials/srm_shoggothsmoothbrick.worldbrush",
		"/tiles/materials/srm_shoggothpillar.worldbrush",
		"/tiles/materials/srm_shoggothhull.worldbrush", 
		"/tiles/materials/srm_shoggothtentacleblock.worldbrush", 
		"/tiles/materials/srm_shoggothglass.worldbrush", 
		"/tiles/materials/srm_shoggothglassgemmed.worldbrush", 
		"/tiles/platforms/srm_shoggothplatformmelting.worldbrush",
		"/tiles/platforms/srm_shoggothplatformtentacle.worldbrush",
		"/tiles/platforms/srm_shoggothplatformsmooth.worldbrush",
		"/tiles/materials/srm_shoggothmucus.worldbrush"
	]
}