// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// This is for the mags.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
{
	"feedingTables" : {
		"table0" : {
			"monomate" : { "def" : 5, "pow" : 40, "dex" : 5, "mind" : 0, "synchro" : 3, "iq" : 3 },
			"dimate" : { "def" : 10, "pow" : 45, "dex" : 5, "mind" : 0, "synchro" : 3, "iq" : 3 },
			"trimate" : { "def" : 15, "pow" : 50, "dex" : 10, "mind" : 0, "synchro" : 4, "iq" : 4 },
			"monofluid" : { "def" : 5, "pow" : 0, "dex" : 5, "mind" : 40, "synchro" : 3, "iq" : 3 },
			"difluid" : { "def" : 10, "pow" : 0, "dex" : 5, "mind" : 45, "synchro" : 3, "iq" : 3 },
			"trifluid" : { "def" : 15, "pow" : 0, "dex" : 10, "mind" : 50, "synchro" : 4, "iq" : 4 },
			"antidote" : { "def" : 5, "pow" : 10, "dex" : 40, "mind" : 0, "synchro" : 3, "iq" : 3 },
			"antiparalysis" : { "def" : 5, "pow" : 0, "dex" : 44, "mind" : 10, "synchro" : 3, "iq" : 3 },
			"solatomizer" : { "def" : 15, "pow" : 30, "dex" : 15, "mind" : 25, "synchro" : 4, "iq" : 1 },
			"moonatomizer" : { "def" : 15, "pow" : 25, "dex" : 15, "mind" : 30, "synchro" : 4, "iq" : 1 },
			"staratomizer" : { "def" : 25, "pow" : 25, "dex" : 25, "mind" : 25, "synchro" : 6, "iq" : 5 }
		},
		"table1" : {
			"monomate" : { "def" : 5, "pow" : 10, "dex" : 0, "mind" : -1, "synchro" : 0, "iq" : 0 },
			"dimate" : { "def" : 6, "pow" : 15, "dex" : 3, "mind" : -3, "synchro" : 2, "iq" : 1 },
			"trimate" : { "def" : 12, "pow" : 21, "dex" : 4, "mind" : -7, "synchro" : 3, "iq" : 2 },
			"monofluid" : { "def" : 5, "pow" : 0, "dex" : 0, "mind" : 8, "synchro" : 0, "iq" : 0 },
			"difluid" : { "def" : 7, "pow" : 0, "dex" : 3, "mind" : 13, "synchro" : 2, "iq" : 1 },
			"trifluid" : { "def" : 7, "pow" : -7, "dex" : 6, "mind" : 19, "synchro" : 3, "iq" : 2 },
			"antidote" : { "def" : 0, "pow" : 5, "dex" : 15, "mind" : 0, "synchro" : 0, "iq" : 1 },
			"antiparalysis" : { "def" : -1, "pow" : 0, "dex" : 14, "mind" : 5, "synchro" : 2, "iq" : 0 },
			"solatomizer" : { "def" : 10, "pow" : 11, "dex" : 8, "mind" : 0, "synchro" : -2, "iq" : 2 },
			"moonatomizer" : { "def" : 9, "pow" : 0, "dex" : 9, "mind" : 11, "synchro" : 3, "iq" : -2 },
			"staratomizer" : { "def" : 14, "pow" : 9, "dex" : 18, "mind" : 11, "synchro" : 4, "iq" : 3 }
		},
		"table2" : {
			"monomate" : { "def" : 1, "pow" : 9, "dex" : 0, "mind" : -5, "synchro" : 0, "iq" : -1 },
			"dimate" : { "def" : 1, "pow" : 13, "dex" : 0, "mind" : -10, "synchro" : 3, "iq" : 0 },
			"trimate" : { "def" : 8, "pow" : 16, "dex" : 2, "mind" : -15, "synchro" : 4, "iq" : 1 },
			"monofluid" : { "def" : 0, "pow" : -5, "dex" : 0, "mind" : 9, "synchro" : 0, "iq" : -1 },
			"difluid" : { "def" : 4, "pow" : -10, "dex" : 0, "mind" : 13, "synchro" : 3, "iq" : 0 },
			"trifluid" : { "def" : 6, "pow" : -15, "dex" : 5, "mind" : 17, "synchro" : 3, "iq" : 2 },
			"antidote" : { "def" : -5, "pow" : 4, "dex" : 12, "mind" : -5, "synchro" : -1, "iq" : 1 },
			"antiparalysis" : { "def" : -5, "pow" : -6, "dex" : 11, "mind" : 4, "synchro" : 0, "iq" : 0 },
			"solatomizer" : { "def" : 0, "pow" : 11, "dex" : 3, "mind" : -5, "synchro" : 4, "iq" : -2 },
			"moonatomizer" : { "def" : 4, "pow" : -5, "dex" : 0, "mind" : 11, "synchro" : -1, "iq" : 1 },
			"staratomizer" : { "def" : 7, "pow" : 8, "dex" : 6, "mind" : 9, "synchro" : 4, "iq" : 2 }
		},
		"table4" : {
			"monomate" : { "def" : -5, "pow" : 9, "dex" : -5, "mind" : 0, "synchro" : 2, "iq" : -1 },
			"dimate" : { "def" : 0, "pow" : 11, "dex" : 0, "mind" : -10, "synchro" : 2, "iq" : 0 },
			"trimate" : { "def" : 4, "pow" : 14, "dex" : 0, "mind" : -15, "synchro" : 0, "iq" : 1 },
			"monofluid" : { "def" : -5, "pow" : 0, "dex" : -6, "mind" : 10, "synchro" : -2, "iq" : -1 },
			"difluid" : { "def" : 0, "pow" : -10, "dex" : 0, "mind" : 11, "synchro" : 2, "iq" : 0 },
			"trifluid" : { "def" : 4, "pow" : -15, "dex" : 0, "mind" : 15, "synchro" : 0, "iq" : 1 },
			"antidote" : { "def" : -5, "pow" : -5, "dex" : 16, "mind" : -5, "synchro" : 2, "iq" : -1 },
			"antiparalysis" : { "def" : 7, "pow" : -3, "dex" : 0, "mind" : -3, "synchro" : -2, "iq" : 3 },
			"solatomizer" : { "def" : 5, "pow" : 21, "dex" : -5, "mind" : -20, "synchro" : 4, "iq" : -2 },
			"moonatomizer" : { "def" : -5, "pow" : -20, "dex" : 5, "mind" : 21, "synchro" : 3, "iq" : 0 },
			"staratomizer" : { "def" : 4, "pow" : 6, "dex" : 8, "mind" : 5, "synchro" : 3, "iq" : 2 }
		}
	},
	"sectionIds" : {
		"sectionTables" : {
			"viridia" : 0,
			"greenill" : 1,
			"skyly" : 2,
			"bluefull" : 3,
			"purplenum" : 4,
			"pinkal" : 5,
			"redria" : 6,
			"oran" : 7,
			"yellowboze" : 8,
			"whitill" : 9
		},
		"characterTables" : [
			{"value" : 0, "chars" : [ "(", "2", "<", "F", "P", "Z", "d", "n", "x" ]},
			{"value" : 1, "chars" : [ ")", "3", "=", "G", "Q", "[", "e", "o", "y" ]},
			{"value" : 2, "chars" : [ " ", "*", "4", ">", "H", "R", /*"\",*/ "f", "p", "z" ]},
			{"value" : 3, "chars" : [ "!", "+", "5", "?", "I", "S", /*"]",*/ "g", "q"/*, "{"*/ ]},
			{"value" : 4, "chars" : [ /*""",*/ ",", "6", "@", "J", "T", "^", "h", "r", "|" ]},
			{"value" : 5, "chars" : [ "#", "-", "7", "A", "K", "U", "_", "i", "s"/*, "}"*/ ]},
			{"value" : 6, "chars" : [ "$", ".", "8", "B", "L", "V", "`", "j", "t", "~" ]},
			{"value" : 7, "chars" : [ "%", "/", "9", "C", "M", "W", "a", "k", "u" ]},
			{"value" : 8, "chars" : [ "&", "0", ":", "D", "N", "X", "b", "l", "v" ]},
			{"value" : 9, "chars" : [ "'", "1", ";", "E", "O", "Y", "C", "M", "W" ]}
		]
	},
	"triggerMaxDurations" : {
		"srm_triggerinvincibility" : 30,
		"srm_triggerbuffs" : 30,
		"srm_triggerheal" : 1
	},
	"mag" : {
		"feedTable" : "table0",
		"triggerRate" : 0,
		"fullPBTrigger" : { "name" : "None", "effect" : "none", "sign" : "negative" },
		"heavyDamageTrigger" : { "name" : "None", "effect" : "none", "sign" : "negative" },
		"beamingTrigger" : { "name" : "None", "effect" : "none", "sign" : "negative" }, 
		"PBLearned" : "none",
		"doubleMag" : false,
		"offset" : [-2.0, 0.5]
	},
	"varuna" : {
		"feedTable" : "table1",
		"triggerRate" : 40,
		"fullPBTrigger" : { "name" : "Invincibility", "effect" : "srm_triggerinvincibility", "sign" : "neutral" },
		"heavyDamageTrigger" : { "name" : "None", "effect" : "none", "sign" : "negative" },
		"beamingTrigger" : { "name" : "Shifta & Deband", "effect" : "srm_triggerbuffs", "sign" : "neutral" },
		"PBLearned" : "srm_pb_farlla",
		"conditions" : "/items/generic/mags/varuna/conditions.lua",
		"doubleMag" : false,
		"offset" : [-2.0, 0.5]
	},
	"kalki" : {
		"feedTable" : "table1",
		"triggerRate" : 40,
		"fullPBTrigger" : { "name" : "Invincibility", "effect" : "srm_triggerinvincibility", "sign" : "neutral" },
		"heavyDamageTrigger" : { "name" : "None", "effect" : "none", "sign" : "negative" },
		"beamingTrigger" : { "name" : "Shifta & Deband", "effect" : "srm_triggerbuffs", "sign" : "neutral" },
		"PBLearned" : "srm_pb_estlla",
		"conditions" : "/items/generic/mags/kalki/conditions.lua",
		"doubleMag" : true,
		"offset" : [-2.0, 0.5],
		"offsetFlip" : [2.0, 0.5]
	},
	"vritra" : {
		"feedTable" : "table1",
		"triggerRate" : 40,
		"fullPBTrigger" : { "name" : "Invincibility", "effect" : "srm_triggerinvincibility", "sign" : "neutral" },
		"heavyDamageTrigger" : { "name" : "None", "effect" : "none", "sign" : "negative" },
		"beamingTrigger" : { "name" : "Resta", "effect" : "srm_triggerheal", "sign" : "neutral" },
		"PBLearned" : "srm_pb_leilla",
		"conditions" : "/items/generic/mags/vritra/conditions.lua",
		"doubleMag" : false,
		"offset" : [-2.0, 0.5]
	},
	"rudra" : {
		"feedTable" : "table2",
		"triggerRate" : 50,
		"fullPBTrigger" : { "name" : "Invincibility", "effect" : "srm_triggerinvincibility", "sign" : "positive" },
		"heavyDamageTrigger" : { "name" : "Resta", "effect" : "srm_triggerheal", "sign" : "negative" },
		"beamingTrigger" : { "name" : "Shifta & Deband", "effect" : "srm_triggerbuffs", "sign" : "neutral" },
		"PBLearned" : "srm_pb_golla",
		"conditions" : "/items/generic/mags/rudra/conditions.lua",
		"doubleMag" : true,
		"offset" : [-1.75, 0.25],
		"offsetFlip" : [1.25, 0.25]
	},
	"marutah" : {
		"feedTable" : "table2",
		"triggerRate" : 50,
		"fullPBTrigger" : { "name" : "Invincibility", "effect" : "srm_triggerinvincibility", "sign" : "positive" },
		"heavyDamageTrigger" : { "name" : "Shifta & Deband", "effect" : "srm_triggerbuffs", "sign" : "negative" },
		"beamingTrigger" : { "name" : "None", "effect" : "none", "sign" : "negative" },
		"PBLearned" : "srm_pb_pilla",
		"conditions" : "/items/generic/mags/marutah/conditions.lua",
		"doubleMag" : true,
		"offset" : [-1.75, 0.25],
		"offsetFlip" : [1.25, 0.25]
	},
	"vayu" : {
		"feedTable" : "table4",
		"triggerRate" : 45,
		"fullPBTrigger" : { "name" : "Invincibility", "effect" : "srm_triggerinvincibility", "sign" : "positive" },
		"heavyDamageTrigger" : { "name" : "Resta", "effect" : "srm_triggerheal", "sign" : "negative" },
		"beamingTrigger" : { "name" : "Resta", "effect" : "srm_triggerheal", "sign" : "neutral" },
		"PBLearned" : "srm_pb_mylla-youlla",
		"conditions" : "/items/generic/mags/vayu/conditions.lua",
		"doubleMag" : true,
		"offset" : [-1.75, 0.25],
		"offsetFlip" : [1.25, 0.25]
	}
}