// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
// This is for the unique organs.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
[
	{ "name" : "srm_cyancateye", "hasTech" : false },
	{ "name" : "srm_cyaneye", "hasTech" : false },
	{ "name" : "srm_cyanstarchildeye", "hasTech" : false },
	{ "name" : "srm_goldencateye", "hasTech" : false },
	{ "name" : "srm_goldeneye", "hasTech" : false },
	{ "name" : "srm_goldenstarchildeye", "hasTech" : false },
	{ "name" : "srm_magentacateye", "hasTech" : false },
	{ "name" : "srm_magentaeye", "hasTech" : false },
	{ "name" : "srm_magentastarchildeye", "hasTech" : false },
	{ "name" : "srm_royalbluecateye", "hasTech" : false },
	{ "name" : "srm_royalblueeye", "hasTech" : false },
	{ "name" : "srm_royalbluestarchildeye", "hasTech" : false },
	{ "name" : "srm_ruddycateye", "hasTech" : false },
	{ "name" : "srm_ruddyeye", "hasTech" : false },
	{ "name" : "srm_ruddystarchildeye", "hasTech" : false },
	{ "name" : "srm_viridiancateye", "hasTech" : false },
	{ "name" : "srm_viridianeye", "hasTech" : false },
	{ "name" : "srm_viridianstarchildeye", "hasTech" : false },
	{ "name" : "srm_starchildcataracteye", "hasTech" : false },
	{ "name" : "srm_observereye", "hasTech" : false },
	{ "name" : "srm_soulreactor", "hasTech" : false },
	{ "name" : "srm_bejeweledspleen", "hasTech" : false },
	{ "name" : "srm_elinbergsheart", "hasTech" : false },
	{ "name" : "srm_saintathenabrysguts", "hasTech" : false },
	{ "name" : "srm_butterflylung", "hasTech" : false },
	{ "name" : "srm_aggravatingbrain", "hasTech" : false },
	{ "name" : "srm_ennervatingbrain", "hasTech" : false },
	{ "name" : "srm_biliousslimebag", "hasTech" : false },
	{ "name" : "srm_brutalgugstomach", "hasTech" : false },
	{ "name" : "srm_tumerichanslungs", "hasTech" : false },
	{ "name" : "srm_vembraxslungs", "hasTech" : false },
	{ "name" : "srm_thebruteslungs", "hasTech" : false },
	{ "name" : "srm_spicefedheart", "hasTech" : false },
	{ "name" : "srm_othellosskull", "hasTech" : false },
	{ "name" : "srm_shadowhoundfang", "hasTech" : false },
	{ "name" : "srm_icepiercedheart", "hasTech" : false },
	{ "name" : "srm_modroncore", "hasTech" : true },
	{ "name" : "srm_thebrainofduketheris", "hasTech" : false },
	{ "name" : "srm_gibberingbladder", "hasTech" : false },
	{ "name" : "srm_brainfromafar", "hasTech" : false },
	{ "name" : "srm_starthingsheart", "hasTech" : false },
	{ "name" : "srm_causticheart", "hasTech" : false },
	{ "name" : "srm_humansoul", "hasTech" : true },
	{ "name" : "srm_curseofgreed", "hasTech" : false },
	{ "name" : "srm_curseofwrath", "hasTech" : false },
	{ "name" : "srm_curseofgluttony", "hasTech" : false },
	{ "name" : "srm_biomechanicalbrain", "hasTech" : true },
	{ "name" : "srm_biomechanicalgut", "hasTech" : true },
	{ "name" : "srm_biomechanicalheart", "hasTech" : true },
	{ "name" : "srm_slimyskull", "hasTech" : false },
	{ "name" : "srm_robustgut", "hasTech" : false },
	{ "name" : "srm_unstableheart", "hasTech" : false }
	
// These haven't been updated in the Deathstate organ guide
	//None!
	
// These have yet to be done
	/*,
	{ "name" : "srm_samhainskull", "hasTech" : false },
	{ "name" : "srm_amphibianeggcluster", "hasTech" : false },
	{ "name" : "srm_bladedheart", "hasTech" : false },
	{ "name" : "srm_blinkingspleen", "hasTech" : false },
	{ "name" : "srm_bloatedthreadgut", "hasTech" : false },
	{ "name" : "srm_brainfrombeyond", "hasTech" : false },
	{ "name" : "srm_bruisedtissuemass", "hasTech" : false },
	{ "name" : "srm_fetalthing", "hasTech" : false },
	{ "name" : "srm_flagellumgut", "hasTech" : false },
	{ "name" : "srm_fungalfragment", "hasTech" : false },
	{ "name" : "srm_gremulkesfang", "hasTech" : false },
	{ "name" : "srm_gugmandibles", "hasTech" : false },
	{ "name" : "srm_halfpumpkinskull", "hasTech" : false },
	{ "name" : "srm_hermethsheart", "hasTech" : false },
	{ "name" : "srm_kingerminesbrain", "hasTech" : false },
	{ "name" : "srm_mandirasheart", "hasTech" : false },
	{ "name" : "srm_nautiloidheart", "hasTech" : false },
	{ "name" : "srm_opticgut", "hasTech" : false },
	{ "name" : "srm_queenumvoraxsbrain", "hasTech" : false },
	{ "name" : "srm_saintvictorswisdomtooth", "hasTech" : false },
	{ "name" : "srm_snailheart", "hasTech" : false },
	{ "name" : "srm_starchildfetalthing", "hasTech" : false },
	{ "name" : "srm_starthingeggcluster", "hasTech" : false },
	{ "name" : "srm_tangledheart", "hasTech" : false },
	{ "name" : "srm_thebluebloodhungryheart", "hasTech" : false },
	{ "name" : "srm_thehungryheart", "hasTech" : false },
	{ "name" : "srm_toxicpolyp", "hasTech" : false },
	{ "name" : "srm_toxinspore", "hasTech" : false },
	{ "name" : "srm_twinheart", "hasTech" : false },
	{ "name" : "srm_unbornspider", "hasTech" : false },
	{ "name" : "srm_virulentsputum", "hasTech" : false },
	{ "name" : "srm_yellowedeelguts", "hasTech" : false },
	{ "name" : "srm_yellowedfattyheart", "hasTech" : false },
	{ "name" : "srm_yellowedfattyspleen", "hasTech" : false },
	{ "name" : "srm_floransoul", "hasTech" : false },
	{ "name" : "srm_hylotlsoul", "hasTech" : false },
	{ "name" : "srm_aviansoul", "hasTech" : false },
	{ "name" : "srm_glitchsoul", "hasTech" : false },
	{ "name" : "srm_apexsoul", "hasTech" : false },
	{ "name" : "srm_novakidsoul", "hasTech" : false },
	{ "name" : "srm_curseofenvy", "hasTech" : false },
	{ "name" : "srm_curseofpride", "hasTech" : false },
	{ "name" : "srm_curseoflust", "hasTech" : false },
	{ "name" : "srm_curseofsloth", "hasTech" : false }
	*/
]