{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/scripted/srm_stockmarket/header.png",
			"fileBody": "/interface/scripted/srm_stockmarket/body.png",
			"fileFooter": "/interface/scripted/srm_stockmarket/footer.png"
		},
		"windowtitle" : {
			"type" : "title",
			"title" : "The Stock Market",
			"subtitle" : " ^#b9b5b2;Throw your money in the wide market for chances to make it big",
			"position" : [-5, 252],
			"icon" : {
				"type" : "image",
				"file" : "/interface/merchant/merchanticon.png",
				"position" : [0, -20],
				"zlevel" : -1
			}
		},
		"close": {
			"type": "button",
			"base": "/interface/scripted/srm_stockmarket/x.png",
			"hover": "/interface/scripted/srm_stockmarket/xhover.png",
			"press": "/interface/scripted/srm_stockmarket/xpress.png",
			"pressedOffset": [0, -2],
			"position": [347, 250],
			"zlevel" : 2
		},
		"closeBG" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_stockmarket/xback.png",
			"position" : [347, 250],
			"zlevel" : 1
		},
		"lblPixelsOwned" : {
			"type" : "label",
			"position" : [10, 232],
			"hAnchor" : "left",
			"wrapWidth" : 200,
			"value" : "^shadow;   Owned : ^reset;"
		},
		"pixels2" : {
			"type" : "image",
			"file" : "/items/currency/money.png",
			"position" : [3, 233],
			"zlevel" : 1
		},
		"searchBar" : {
			"type" : "textbox",
            "hint" : "Search...",
			"position" : [78, 31],
			"zlevel" : 2,
            "maxWidth" : 65,
			"hAnchor" : "left",
            "escapeKey" : "close",
            "focus" : true
		},
		"lblBalance" : {
			"type" : "label",
			"position" : [337, 41],
			"hAnchor" : "mid",
			"wrapWidth" : 200,
			"value" : "^shadow;Balance in   : ^reset;"
		},
		"pixels" : {
			"type" : "image",
			"file" : "/items/currency/money.png",
			"position" : [353, 42],
			"zlevel" : 1
		},
		"lblBalanceAmount" : {
			"type" : "label",
			"position" : [337, 26],
			"hAnchor" : "mid",
			"wrapWidth" : 200,
			"value" : "^shadow;0^reset;"
		},
		"btnBuy" : {
			"type" : "button",
			"callback": "btnBuy",
			"pressedOffset" : [0, -1],
			"position" : [228, 39],
			"base" : "/interface/scripted/srm_stockmarket/buy.png",
			"hover" : "/interface/scripted/srm_stockmarket/buyhover.png",
			"press" : "/interface/scripted/srm_stockmarket/buy.png"
		},
		"btnSell" : {
			"type" : "button",
			"callback": "btnSell",
			"pressedOffset" : [0, -1],
			"position" : [228, 25],
			"base" : "/interface/scripted/srm_stockmarket/sell.png",
			"hover" : "/interface/scripted/srm_stockmarket/sellhover.png",
			"press" : "/interface/scripted/srm_stockmarket/sell.png"
		},
		"amountFieldBuy" : {
			"type" : "textbox",
            "hint" : "Amnt",
			"file" : "/interface/scripted/srm_stockmarket/amount.png",
			"position" : [287, 41],
			"zlevel" : 2,
            "maxWidth" : 70,
			"hAnchor" : "mid",
            "escapeKey" : "close",
			"regex":"\\d{0,4}",
            "focus" : true
		},
		"amountFieldSell" : {
			"type" : "textbox",
            "hint" : "Amnt",
			"file" : "/interface/scripted/srm_stockmarket/amount.png",
			"position" : [287, 26],
			"zlevel" : 2,
            "maxWidth" : 70,
			"hAnchor" : "mid",
            "escapeKey" : "close",
			"regex":"\\d{0,4}",
            "focus" : true
		},
		"amountFieldBuyBG" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_stockmarket/amount.png",
			"position" : [283, 40],
			"zlevel" : 1
		},
		"amountFieldSellBG" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_stockmarket/amount.png",
			"position" : [283, 25],
			"zlevel" : 1
		},
		
		
		
		"chartCanvas" : {
			"zlevel" : 2,
			"type" : "canvas",
			"rect" : [235, 133, 355, 197],
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		},



		"lblCurrentCategory" : {
			"type" : "label",
			"position" : [109, 219],
			"hAnchor" : "mid",
			"wrapWidth" : 200,
			"value" : "^shadow;Current Category : Bamboozled^reset;"
		},
		"scrollAreaCategory" : {
			"type" : "scrollArea",
			"rect" : [12, 57, 45, 218],
			"children" : {
				"itemList" : {
					"type" : "list",
					"callback" : "scrollAreaCategory",
					"schema" : {
						"selectedBG" : "/interface/scripted/srm_stockmarket/categoryslotselected.png",
						"unselectedBG" : "/interface/scripted/srm_stockmarket/categoryslot.png",
						"spacing" : [0, 0],
						"memberSize" : [24, 24],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/scripted/srm_stockmarket/categoryslot.png",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"categoryIcon" : {
								"type" : "image",
								"position" : [0, 0],
								"file" : "/interface/crafting/tabicon_bars.png",
								"zlevel" : 1
							}
						}
					}
				}
			}
		},



		"stockIcon" : {
			"type" : "image",
			"file" : "",
			"position" : [234, 208],
			"zlevel" : 1
		},
		"stockIconBG" : {
			"type" : "image",
			"file" : "/interface/scripted/srm_stockmarket/itemslot.png",
			"position" : [231, 205],
			"zlevel" : 1
		},
		"stockGraphBG" : {
			"type" : "image",
			"file" : "",
			"centered" : true,
			"position" : [295, 165],
			"zlevel" : 1
		},
		"lblStockName" : {
			"type" : "label",
			"position" : [255, 216],
			"hAnchor" : "left",
			"wrapWidth" : 200,
			"value" : "^shadow;The Unique Stock^reset;"
		},
		"lblStockDescription" : {
			"type" : "label",
			"position" : [238, 128],
			"hAnchor" : "left",
			"vAnchor" : "top",
			"wrapWidth" : 119,
			//"fontSize" : 6,
			"value" : "^shadow;Aaaaaaaaaaaaaaaaaaaaaaaaaaaaasaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa.^reset;"
		},
		"lblStockOwned" : {
			"type" : "label",
			"position" : [255, 208],
			"hAnchor" : "left",
			"wrapWidth" : 200,
			"value" : "^shadow;Owned : 0^reset;"
		},
		"lblStockPrice" : {
			"type" : "label",
			"position" : [296, 69],
			"hAnchor" : "mid",
			"wrapWidth" : 200,
			"value" : "^shadow;37 Pixels -23.12582%^reset;"
		},
		"lblStockMarketCap" : {
			"type" : "label",
			"position" : [296, 56],
			"hAnchor" : "mid",
			"wrapWidth" : 200,
			"value" : "^shadow;MKC - 1242356345234$^reset;"
		},
		"scrollAreaStocks" : {
			"type" : "scrollArea",
			"rect" : [45, 57, 214, 218],
			"children" : {
				"itemList" : {
					"type" : "list",
					"callback" : "scrollAreaStocks",
					"schema" : {
						"selectedBG" : "/interface/scripted/srm_stockmarket/stockbackground.png?brightness=100",
						"unselectedBG" : "/interface/scripted/srm_stockmarket/stockbackground.png",
						"spacing" : [0, 0],
						"memberSize" : [161, 14],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/scripted/srm_stockmarket/stockbackground.png",
								"position" : [0, 0],
								"zlevel" : -1
							},
							"stockOwned" : {
								"type" : "label",
								"position" : [21, 2],
								"hAnchor" : "mid",
								"wrapWidth" : 116,
								"value" : "^shadow;(0)^reset;"
							},
							"stockAcronym" : {
								"type" : "label",
								"position" : [54, 2],
								"hAnchor" : "mid",
								"wrapWidth" : 116,
								"value" : "^shadow;Replace Me^reset;"
							},
							"stockVariation" : {
								"type" : "label",
								"position" : [76, 2],
								"hAnchor" : "mid",
								"wrapWidth" : 116,
								"value" : "^shadow;0^reset;"
							},
							"pixels" : {
								"type" : "image",
								"file" : "/items/currency/money.png",
								"position" : [86, 2],
								"zlevel" : 1
							},
							"stockValue" : {
								"type" : "label",
								"position" : [94, 2],
								"hAnchor" : "left",
								"wrapWidth" : 110,
								"value" : "^shadow;0^reset;"
							}
						}
					}
				}
			}
		}
	},

	"scriptWidgetCallbacks": [
		"searchBar", "btnBuy", "btnSell", "amountFieldBuy", "amountFieldSell", "scrollAreaCategory", "scrollAreaStocks"
	],

	"scripts": ["/interface/scripted/srm_stockmarket/srm_stockmarket.lua"],
	"scriptDelta": 1,

  "serializeSelection": true
}