{
  "pieces" : {
    "fullShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [64, 0]
    },
    "topShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [0, 0]
    },
    "leftShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [8, 0]
    },
    "bottomShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [16, 0]
    },
    "rightShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [24, 0]
    },
    "topLeftShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [32, 0]
    },
    "topRightShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [40, 0]
    },
    "bottomLeftShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [48, 0]
    },
    "bottomRightShadow" : {
      "texture" : "/tiles/shadows.png",
      "textureSize" : [8, 8],
      "texturePosition" : [56, 0]
    },

    "top" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 0],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },
    "center" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 12],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },
    "bottom" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 24],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },
    "single" : {
      "textureSize" : [12, 12],
      "texturePosition" : [0, 36],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    },

    "icon" : {
      "textureSize" : [8, 8],
      "texturePosition" : [2, 38],
      "colorStride" : [12, 0],
      "variantStride" : [0, 48]
    }
  },

  "representativePiece": "icon",

  "rules" : {
    "EqualsSelf" : {
      "join" : "any",
      "entries" : [
        {
          "type" : "EqualsSelf"
        },
        {
          "type" : "EqualsId",
          "id" : 36610
        },
        {
          "type" : "EqualsId",
          "id" : 36611
        },
        {
          "type" : "EqualsId",
          "id" : 36612
        },
        {
          "type" : "EqualsId",
          "id" : 36613
        },
        {
          "type" : "EqualsId",
          "id" : 36614
        },
        {
          "type" : "EqualsId",
          "id" : 36615
        },
        {
          "type" : "EqualsId",
          "id" : 36616
        },
        {
          "type" : "EqualsId",
          "id" : 36617
        },
        {
          "type" : "EqualsId",
          "id" : 36618
        },
        {
          "type" : "EqualsId",
          "id" : 36619
        },
        {
          "type" : "EqualsId",
          "id" : 36620
        },
        {
          "type" : "EqualsId",
          "id" : 36621
        },
        {
          "type" : "EqualsId",
          "id" : 36622
        },
        {
          "type" : "EqualsId",
          "id" : 36623
        },
        {
          "type" : "EqualsId",
          "id" : 36624
        },
        {
          "type" : "EqualsId",
          "id" : 36625
        },
        {
          "type" : "EqualsId",
          "id" : 36626
        },
        {
          "type" : "EqualsId",
          "id" : 36627
        },
        {
          "type" : "EqualsId",
          "id" : 36628
        },
        {
          "type" : "EqualsId",
          "id" : 36629
        },
        {
          "type" : "EqualsId",
          "id" : 36630
        },
        {
          "type" : "EqualsId",
          "id" : 36631
        },
        {
          "type" : "EqualsId",
          "id" : 36632
        },
        {
          "type" : "EqualsId",
          "id" : 36633
        },
        {
          "type" : "EqualsId",
          "id" : 36634
        },
        {
          "type" : "EqualsId",
          "id" : 36635
        },
        {
          "type" : "EqualsId",
          "id" : 36636
        },
        {
          "type" : "EqualsId",
          "id" : 36637
        },
        {
          "type" : "EqualsId",
          "id" : 36638
        },
        {
          "type" : "EqualsId",
          "id" : 36639
        }
      ]
    },
    "NotEqualsSelf" : {
      "join" : "all",
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36610,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36611,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36612,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36613,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36614,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36615,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36616,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36617,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36618,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36619,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36620,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36621,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36622,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36623,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36624,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36625,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36626,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36627,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36628,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36629,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36630,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36631,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36632,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36633,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36634,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36635,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36636,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36637,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36638,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36639,
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "Empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    },
    "Shadows" : {
      "entries" : [
        {
          "type" : "Shadows"
        }
      ]
    },
    "NotShadows" : {
      "entries" : [
        {
          "type" : "Shadows",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      {
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[0, 1], "NotEqualsSelf"],
              [[0, -1], "EqualsSelf"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["top", [-2, -2]]]
          },
          {
            "matchAllPoints" : [
              [[0, 1], "EqualsSelf"],
              [[0, -1], "EqualsSelf"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["center", [-2, -2]]]
          },
          {
            "matchAllPoints" : [
              [[0, 1], "EqualsSelf"],
              [[0, -1], "NotEqualsSelf"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["bottom", [-2, -2]]]
          },
          {
            "pieces" : [["single", [-2, -2]]]
          }
        ]
      },

      // SHADOWS
      {
        "matchAllPoints" : [[[0, 0], "Shadows"]],
        "pieces" : [["fullShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[0, 1], "Shadows"]],
        "pieces" : [["topShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[-1, 0], "Shadows"]],
        "pieces" : [["leftShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[0, -1], "Shadows"]],
        "pieces" : [["bottomShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[1, 0], "Shadows"]],
        "pieces" : [["rightShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[-1, 1], "Shadows"], [[0, 1], "NotShadows"], [[-1, 0], "NotShadows"]],
        "pieces" : [["topLeftShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[1, 1], "Shadows"], [[0, 1], "NotShadows"], [[1, 0], "NotShadows"]],
        "pieces" : [["topRightShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[-1, -1], "Shadows"], [[0, -1], "NotShadows"], [[-1, 0], "NotShadows"]],
        "pieces" : [["bottomLeftShadow", [0, 0]]]
      },
      {
        "matchAllPoints" : [[[1, -1], "Shadows"], [[0, -1], "NotShadows"], [[1, 0], "NotShadows"]],
        "pieces" : [["bottomRightShadow", [0, 0]]]
      }
    ]]
  ]
}
