{
  "pieces" : {
    "leftPlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [0, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "midPlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [8, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "rightPlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [16, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "doublePlatform" : {
      "textureSize" : [8, 8],
      "texturePosition" : [24, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "leftStairs" : {
      "textureSize" : [16, 8],
      "texturePosition" : [32, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "leftStairsTrim" : {
      "textureSize" : [10, 8],
      "texturePosition" : [38, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "leftStairBit" : {
      "textureSize" : [6, 4],
      "texturePosition" : [34, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "leftUnderStairs" : {
      "textureSize" : [10, 4],
      "texturePosition" : [38, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "rightStairs" : {
      "textureSize" : [16, 8],
      "texturePosition" : [48, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "rightStairsTrim" : {
      "textureSize" : [10, 8],
      "texturePosition" : [48, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "rightStairBit" : {
      "textureSize" : [6, 4],
      "texturePosition" : [56, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    },
    "rightUnderStairs" : {
      "textureSize" : [10, 4],
      "texturePosition" : [48, 0],
      "colorStride" : [0, 8],
      "variantStride" : [64, 0]
    }
  },

  "representativePiece": "midPlatform",

  "rules" : {
    "EqualsSelf" : {
      "join" : "any",
      "entries" : [
        {
          "type" : "EqualsSelf"
        },
        {
          "type" : "EqualsId",
          "id" : 36670
        },
        {
          "type" : "EqualsId",
          "id" : 36671
        },
        {
          "type" : "EqualsId",
          "id" : 36672
        },
        {
          "type" : "EqualsId",
          "id" : 36673
        },
        {
          "type" : "EqualsId",
          "id" : 36674
        },
        {
          "type" : "EqualsId",
          "id" : 36675
        },
        {
          "type" : "EqualsId",
          "id" : 36676
        },
        {
          "type" : "EqualsId",
          "id" : 36677
        },
        {
          "type" : "EqualsId",
          "id" : 36678
        },
        {
          "type" : "EqualsId",
          "id" : 36679
        },
        {
          "type" : "EqualsId",
          "id" : 36680
        },
        {
          "type" : "EqualsId",
          "id" : 36681
        },
        {
          "type" : "EqualsId",
          "id" : 36682
        },
        {
          "type" : "EqualsId",
          "id" : 36683
        },
        {
          "type" : "EqualsId",
          "id" : 36684
        },
        {
          "type" : "EqualsId",
          "id" : 36685
        },
        {
          "type" : "EqualsId",
          "id" : 36686
        },
        {
          "type" : "EqualsId",
          "id" : 36687
        },
        {
          "type" : "EqualsId",
          "id" : 36688
        },
        {
          "type" : "EqualsId",
          "id" : 36689
        },
        {
          "type" : "EqualsId",
          "id" : 36690
        },
        {
          "type" : "EqualsId",
          "id" : 36691
        },
        {
          "type" : "EqualsId",
          "id" : 36692
        },
        {
          "type" : "EqualsId",
          "id" : 36693
        },
        {
          "type" : "EqualsId",
          "id" : 36694
        },
        {
          "type" : "EqualsId",
          "id" : 36695
        },
        {
          "type" : "EqualsId",
          "id" : 36696
        },
        {
          "type" : "EqualsId",
          "id" : 36697
        },
        {
          "type" : "EqualsId",
          "id" : 36698
        },
        {
          "type" : "EqualsId",
          "id" : 36699
        }
      ]
    },
    "NotEqualsSelf" : {
      "join" : "all",
      "entries" : [
        {
          "type" : "EqualsSelf",
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36670,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36671,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36672,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36673,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36674,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36675,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36676,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36677,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36678,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36679,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36680,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36681,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36682,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36683,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36684,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36685,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36686,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36687,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36688,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36689,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36690,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36691,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36692,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36693,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36694,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36695,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36696,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36697,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36698,
          "inverse" : true
        },
        {
          "type" : "EqualsId",
          "id" : 36699,
          "inverse" : true
        }
      ]
    },
    "Connects" : {
      "entries" : [
        {
          "type" : "Connects"
        }
      ]
    },
    "ConnectsOther" : {
      "entries" : [
        {
          "type" : "Connects"
        },
        {
          "type" : "EqualsSelf",
          "inverse" : true
        }
      ]
    },
    "Empty" : {
      "entries" : [
        {
          "type" : "Connects",
          "inverse" : true
        }
      ]
    }
  },

  "matches" : [
    ["main", [
      // crossed stairs
      {
        "matchAllPoints" : [
          [[1, 1], "EqualsSelf"],
          [[-1, 1], "EqualsSelf"],
          [[1, -1], "EqualsSelf"],
          [[-1, -1], "EqualsSelf"],
          [[0, 1], "NotEqualsSelf"],
          [[0, -1], "NotEqualsSelf"],
          [[1, 0], "NotEqualsSelf"],
          [[-1, 0], "NotEqualsSelf"]
        ],
        "haltOnMatch" : true,
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[1, 1], "EqualsSelf"]
            ],
            "pieces" : [["rightUnderStairs", [4, 8]]]
          },
          {
            "matchAllPoints" : [
              [[-1, 1], "EqualsSelf"]
            ],
            "pieces" : [["leftUnderStairs", [-6, 8]]]
          },
          {
            "pieces" : [
              ["leftStairs", [-8, 0]],
              ["rightStairs", [0, 0]]
            ]
          }
        ]
      },
      // overriding platforms
      {
        "matchAllPoints" : [
          [[-1, 0], "EqualsSelf"],
          [[1, 0], "EqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["midPlatform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[-1, -1], "EqualsSelf"],
          [[0, -1], "NotEqualsSelf"],
          [[1, -1], "EqualsSelf"],
          [[-1, 0], "NotEqualsSelf"],
          [[1, 0], "NotEqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["midPlatform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[-1, 0], "EqualsSelf"],
          [[1, 0], "EqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["midPlatform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[-1, 1], "EqualsSelf"],
          [[0, 1], "NotEqualsSelf"],
          [[1, 1], "EqualsSelf"],
          [[-1, 0], "NotEqualsSelf"],
          [[1, 0], "NotEqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["midPlatform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[-1, -1], "EqualsSelf"],
          [[1, 0], "EqualsSelf"],
          [[-1, 1], "EqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["midPlatform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[1, -1], "EqualsSelf"],
          [[-1, 0], "EqualsSelf"],
          [[1, 1], "EqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["midPlatform", [0, 0]]]
      },

      {
        "matchAllPoints" : [
          [[-1, 0], "EqualsSelf"],
          [[-1, 1], "EqualsSelf"],
          [[1, 0], "Connects"],
          [[1, -1], "NotEqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["rightPlatform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[1, 0], "EqualsSelf"],
          [[1, 1], "EqualsSelf"],
          [[-1, 0], "Connects"],
          [[-1, -1], "NotEqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["leftPlatform", [0, 0]]]
      },

      {
        "matchAllPoints" : [
          [[-1, 0], "EqualsSelf"],
          [[-1, 1], "EqualsSelf"],
          [[1, 0], "NotEqualsSelf"],
          [[1, -1], "NotEqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["midPlatform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[1, 0], "EqualsSelf"],
          [[1, 1], "EqualsSelf"],
          [[-1, 0], "NotEqualsSelf"],
          [[-1, -1], "NotEqualsSelf"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["midPlatform", [0, 0]]]
      },

      // stairs
      {
        "matchAllPoints" : [
          [[0, -1], "NotEqualsSelf"]
        ],
        "haltOnSubMatch" : true,
        "subMatches" : [
          {
            "matchAllPoints" : [
              [[-1, 1], "NotEqualsSelf"],
              [[0, 1], "NotEqualsSelf"],
              [[1, 1], "EqualsSelf"],
              [[1, 0], "NotEqualsSelf"],
              [[1, -1], "EqualsSelf"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["rightStairs", [0, 0]]]
          },
          {
            "matchAllPoints" : [
              [[-1, 1], "EqualsSelf"],
              [[0, 1], "NotEqualsSelf"],
              [[1, 1], "NotEqualsSelf"],
              [[-1, 0], "NotEqualsSelf"],
              [[-1, -1], "EqualsSelf"]
            ],
            "haltOnMatch" : true,
            "pieces" : [["leftStairs", [-8, 0]]]
          },

          // right ( // ) stairs
          
          {
            "matchAllPoints" : [
              [[-1, -1], "EqualsSelf"]
            ],
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[-1, 0], "EqualsSelf"],
                  [[-2, 0], "EqualsSelf"]
                ],
                "pieces" : [["midPlatform", [0, 0]]]
              },
              {
                "matchAllPoints" : [
                  [[1, 1], "EqualsSelf"]
                ],
                "pieces" : [["rightUnderStairs", [4, 8]]]
              },
              {
                "matchAllPoints" : [
                  [[0, -1], "Empty"]
                ],
                "pieces" : [["rightStairBit", [0, -4]]]
              },
              {
                "matchAnyPoints" : [
                  [[1, 1], "NotEqualsSelf"],
                  [[1, 0], "Connects"]
                ],
                "haltOnMatch" : true,
                "pieces" : [["rightStairsTrim", [0, 0]]]
              },
              {
                "pieces" : [["rightStairs", [0, 0]]]
              }
            ]
          },

          // left ( \\ ) stairs

          {
            "matchAllPoints" : [
              [[1, -1], "EqualsSelf"]
            ],
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[1, 0], "EqualsSelf"],
                  [[2, 0], "EqualsSelf"]
                ],
                "pieces" : [["midPlatform", [0, 0]]]
              },
              {
                "matchAllPoints" : [
                  [[-1, 1], "EqualsSelf"]
                ],
                "pieces" : [["leftUnderStairs", [-6, 8]]]
              },
              {
                "matchAllPoints" : [
                  [[0, -1], "Empty"]
                ],
                "pieces" : [["leftStairBit", [2, -4]]]
              },
              {
                "matchAnyPoints" : [
                  [[-1, 1], "NotEqualsSelf"],
                  [[-1, 0], "Connects"]
                ],
                "haltOnMatch" : true,
                "pieces" : [["leftStairsTrim", [-2, 0]]]
              },
              {
                "pieces" : [["leftStairs", [-8, 0]]]
              }
            ]
          }
        ]
      },
      // more stairs
      {
        "matchAllPoints" : [
          [[0, 1], "NotEqualsSelf"]
        ],
        "haltOnSubMatch" : true,
        "subMatches" : [
          // right ( // ) stairs
          {
            "matchAllPoints" : [
              [[1, 1], "EqualsSelf"],
              [[-1, 0], "NotEqualsSelf"]
            ],
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[1, 1], "EqualsSelf"]
                ],
                "pieces" : [["rightUnderStairs", [4, 8]]]
              },
              {
                "matchAllPoints" : [
                  [[0, -1], "Empty"],
                  [[-1, -1], "ConnectsOther"]
                ],
                "pieces" : [["rightStairBit", [0, -4]]]
              },
              {
                "pieces" : [["rightStairs", [0, 0]]]
              }
            ]
          },
          {
            "matchAllPoints" : [
              [[-1, 1], "NotEqualsSelf"],
              [[-1, 0], "NotEqualsSelf"],
              [[-1, -1], "EqualsSelf"],
              [[1, 0], "EqualsSelf"]
            ],
            "pieces" : [["rightStairsTrim", [0, 0]]]
          },
          // left ( \\ ) stairs
          {
            "matchAllPoints" : [
              [[-1, 1], "EqualsSelf"],
              [[1, 0], "NotEqualsSelf"]
            ],
            "subMatches" : [
              {
                "matchAllPoints" : [
                  [[-1, 1], "EqualsSelf"]
                ],
                "pieces" : [["leftUnderStairs", [-6, 8]]]
              },
              {
                "matchAllPoints" : [
                  [[0, -1], "Empty"],
                  [[1, -1], "ConnectsOther"]
                ],
                "pieces" : [["leftStairBit", [2, -4]]]
              },
              {
                "pieces" : [["leftStairs", [-8, 0]]]
              }
            ]
          },
          {
            "matchAllPoints" : [
              [[1, 1], "NotEqualsSelf"],
              [[1, 0], "NotEqualsSelf"],
              [[1, -1], "EqualsSelf"],
              [[-1, 0], "EqualsSelf"]
            ],
            "pieces" : [["leftStairsTrim", [-2, 0]]]
          }
        ]
      },
      {
        "matchAllPoints" : [
          [[-1, 0], "ConnectsOther"],
          [[1, 0], "ConnectsOther"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["doublePlatform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[-1, 0], "ConnectsOther"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["leftPlatform", [0, 0]]]
      },
      {
        "matchAllPoints" : [
          [[1, 0], "ConnectsOther"]
        ],
        "haltOnMatch" : true,
        "pieces" : [["rightPlatform", [0, 0]]]
      },
      {
        "pieces" : [["midPlatform", [0, 0]]]
      }
    ]]
  ]
}
