{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/srm_organselection/header.png",
      "fileBody" : "/interface/scripted/srm_organselection/body.png",
      "fileFooter" : "/interface/scripted/srm_organselection/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "  The Helminth",
      "subtitle" : "    Swap up your organs for cooler ones",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/srm_organselection/icon.png",
        "zlevel" : -1
      }
    },

    "organScrollArea" : {
      "type" : "scrollArea",
      "rect" : [201, 92, 329, 206],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "organSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/srm_organselection/listitem.png:active",
            "hoverBG" : "/interface/scripted/srm_organselection/listitem.png:hover",
            "unselectedBG" : "/interface/scripted/srm_organselection/listitem.png:inactive",
            "disabledBG" : "/interface/scripted/srm_organselection/listitem.png:disabled",
            "spacing" : [0, 0],
            "memberSize" : [119, 22],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/srm_organselection/listitem.png:inactive",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "organName" : {
                "type" : "label",
                "position" : [20, 6],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "organIcon" : {
                "type" : "image",
                "position" : [10, 11],
                "centered" : true,
                "callback" : "null"
              }
            }
          }
        }
      }
    },

    "lblDescription" : {
      "type" : "label",
      "position" : [170, 81],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "wrapWidth" : 250,
      "value" : "Select an organ to install."
    },
	
    "imgSuit" : {
      "type" : "image",
      "file" : "",
      "position" : [37, 114]
    },

    "imgSelectedHead" : {
      "type" : "image",
      "file" : "/interface/scripted/srm_organselection/selectionheadline.png",
      "position" : [17, 198]
    },
    "imgSelectedBack" : {
      "type" : "image",
      "file" : "/interface/scripted/srm_organselection/selectionbackline.png",
      "position" : [17, 170]
    },
    "imgSelectedChest" : {
      "type" : "image",
      "file" : "/interface/scripted/srm_organselection/selectionchestline.png",
      "position" : [17, 142]
    }, 
    "imgSelectedGut" : {
      "type" : "image",
      "file" : "/interface/scripted/srm_organselection/selectiongutline.png",
      "position" : [17, 114]
    },

    "lblSlot" : {
      "type" : "label",
      "position" : [202, 207],
      "hAnchor" : "left",
      "vAnchor" : "bottom",
      "value" : "Head"
    },

    "organSlotGroup" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "baseImage" : "/interface/scripted/srm_organselection/organslot.png:base",
          "hoverImage" : "/interface/scripted/srm_organselection/organslot.png:hover",
          "baseImageChecked" : "/interface/scripted/srm_organselection/organslot.png:checked",
          "hoverImageChecked" : "/interface/scripted/srm_organselection/organslot.png:checked",
          "pressedOffset" : [0, 0],
          "position" : [151, 185],
          "data" : "Head"
        },
        {
          "baseImage" : "/interface/scripted/srm_organselection/organslot.png:base",
          "hoverImage" : "/interface/scripted/srm_organselection/organslot.png:hover",
          "baseImageChecked" : "/interface/scripted/srm_organselection/organslot.png:checked",
          "hoverImageChecked" : "/interface/scripted/srm_organselection/organslot.png:checked",
          "pressedOffset" : [0, 0],
          "position" : [151, 157],
          "data" : "Back"
        },
        {
          "baseImage" : "/interface/scripted/srm_organselection/organslot.png:base",
          "hoverImage" : "/interface/scripted/srm_organselection/organslot.png:hover",
          "baseImageChecked" : "/interface/scripted/srm_organselection/organslot.png:checked",
          "hoverImageChecked" : "/interface/scripted/srm_organselection/organslot.png:checked",
          "pressedOffset" : [0, 0],
          "position" : [151, 129],
          "data" : "Chest"
        },
        {
          "baseImage" : "/interface/scripted/srm_organselection/organslot.png:base",
          "hoverImage" : "/interface/scripted/srm_organselection/organslot.png:hover",
          "baseImageChecked" : "/interface/scripted/srm_organselection/organslot.png:checked",
          "hoverImageChecked" : "/interface/scripted/srm_organselection/organslot.png:checked",
          "pressedOffset" : [0, 0],
          "position" : [151, 101],
          "data" : "Gut"
        }
      ]
    },

    "lblOrganSlotHead" : {
      "type" : "label",
      "position" : [117, 199],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "HEAD ORGAN"
    },
    "organIconHead" : {
      "type" : "image",
      "position" : [165, 199],
      "centered" : true,
      "mouseTransparent" : true
    },

    "lblOrganSlotBack" : {
      "type" : "label",
      "position" : [117, 171],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "BACK ORGAN"
    },
    "organIconBack" : {
      "type" : "image",
      "position" : [165, 171],
      "centered" : true,
      "mouseTransparent" : true
    },

    "lblOrganSlotChest" : {
      "type" : "label",
      "position" : [117, 143],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "CHEST ORGAN"
    },
    "organIconChest" : {
      "type" : "image",
      "position" : [165, 143],
      "centered" : true,
      "mouseTransparent" : true
    },

    "lblOrganSlotGut" : {
      "type" : "label",
      "position" : [117, 115],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "GUT ORGAN"
    },
    "organIconGut" : {
      "type" : "image",
      "position" : [165, 115],
      "centered" : true,
      "mouseTransparent" : true
    },
	
    "organSubsumeSlot" : {
      "type" : "itemslot",
      "position" : [145, 30],
	  "callback" : "organSubsumeSlot",
      "rightClickCallback" : "organSubsumeSlot",
      "backingImage" : "",
	  "zlevel" : 2
    },

    "btnEnable" : {
      "type" : "button",
      "base" : "/interface/scripted/srm_organselection/doupgrade.png:install",
      "hover" : "/interface/scripted/srm_organselection/doupgrade.png:install",
      "pressed" : "/interface/scripted/srm_organselection/doupgrade.png:install",
      "disabledImage" : "/interface/scripted/srm_organselection/doupgrade.png:disabled",
      "pressedOffset" : [0, 0],
      "position" : [192, 30],
      "callback" : "doEnable"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [321, 228]
    }
  },

  "scriptWidgetCallbacks" : [
    "organSubsumeSlot",
    "doEnable",
    "organSelected",
    "organSlotGroup"
  ],

  "scripts" : ["/interface/scripted/srm_organselection/srm_organselection.lua"],
  "scriptDelta" : 1,

  "selectOrganDescription" : "Select an organ to install.",

  "organLockedIcon" : "/interface/scripted/srm_organselection/upgradelocked.png",
  "slotLabelText" : {
    "Head" : "HEAD ORGAN",
    "Back" : "BACK ORGAN",
    "Chest" : "CHEST ORGAN",
    "Gut" : "GUT ORGAN"
  },
  "suitImagePath" : "/interface/scripted/techupgrade/suits/%s-%s.png",
  "selectionPulse" : 1.0,

  "defaultCost" : 5
}
