{  
  "gui" : {
    "windowtitle" : {
      "type" : "title",
      "title" : "FTL Drive Fuel Hatch & Mouth",
      "subtitle" : "Sneed's feed and seed",
      "position" : [0, 307],
      "icon" : {
        "type" : "image",
        "file" : "/interface/fuel/fuelheadericon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [155, 153]
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/fuel/fuelUIheader.png",
      "fileBody" : "/interface/fuel/srm_fuelUIbody.png",
      "fileFooter" : "/interface/fuel/fuelUIfooter.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/fuel/srm_fuelshine.png",
      "position" : [0, -2],
      "zlevel" : -10
    },
	
	
	
    "fuelGauge" : {
      "type" : "fuelGauge",
      "position" : [25, 118]
    },
    "burn" : {
      "type" : "button",
      "position" : [96, 81],
      "base" : "/interface/fuel/srm_fuel2up.png",
      "hover" : "/interface/fuel/srm_fuel2down.png",
      "callback" : "feed"
    },
    "clear" : {                                                                                 
      "type" : "button",
      "position" : [42, 81],
      "base" : "/interface/fuel/clearup.png",
      "hover" : "/interface/fuel/cleardown.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [28, 99],
      "dimensions" : [6, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
	
	
	
		
		
		
    "foodCanvas" : {
      "zlevel" : 2,
      "type" : "canvas",
      "rect" : [27, 38, 142, 43],
      "captureMouseEvents" : false,
      "captureKeyboardEvents" : false
    },
	"foodMeter" : {
      "type" : "label",
      "position" : [85, 34],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "Food 0/1000"
    },
	"milestoneLabel" : {
      "type" : "label",
      "position" : [14, 69],
	  "wrapWidth" : 119,
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : "The next feeding milestone is at XXXX and will reward: "
    },
    "tileSlot" : {
      "type" : "itemslot",
      "position" : [135, 51],
	  "callback" : "tileSlot",
      "rightClickCallback" : "tileSlot",
      "backingImage" : "/interface/inventory/empty.png",
	  "zlevel" : 2
    }
  },
  
  "scriptWidgetCallbacks" : [ 
    "feed", "tileSlot"
  ],
  "scripts" : ["/interface/fuel/srm_fuelnfood.lua"],
  "scriptDelta" : 15,
  
  "upgradeMilestones" : {
    "shoglicense1" : {
	  "item" : "srm_license1",
	  "foodCost" : 1000
	},
    "shoglicense2" : {
	  "item" : "srm_license2",
	  "foodCost" : 3000
	},
    "shoglicense3" : {
	  "item" : "srm_license3",
	  "foodCost" : 6000
	},
    "shoglicense4" : {
	  "item" : "srm_license4",
	  "foodCost" : 10000
	},
    "shoglicense5" : {
	  "item" : "srm_license5",
	  "foodCost" : 15000
	}
  }
}
