{
  "blockKey" : [
    {
      "value" : [255, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },
    {
      "value" : [0, 0, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true
    },
    {
      "value" : [255, 0, 0, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true
    },
    {
      "value" : [0, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "srm_shoggothhull0",
      "flags" : [ "shipLockerPosition" ],
      "object" : "srm_shoggothshiplocker",
      "objectParameters" : {
        "treasurePools" : [ "shoggothStarterTreasure" ],
        "level" : 0.5,
        "unbreakable" : true
      },
      "objectResidual" : true
    },
    
    {
      "value" : [0, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "srm_shoggothhull0",
      "object" : "srm_shoggothshiplockerBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [142, 255, 142, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "srm_shoggothhull0",
      "object" : "srm_shoggothtechstation",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },
    {
      "value" : [255, 87, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "srm_shoggothfuelhatchBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [255, 90, 90, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "srm_shoggothfuelhatch",
      "objectParameters" : {
        "unbreakable" : true
      },
      "objectResidual" : true
    },
    {
      "value" : [255, 255, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "srm_shoggothbrick0",
      "object" : "srm_shoggothshiplight",
      "objectResidual" : true
    },
    
    {
      "value" : [191, 191, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "srm_shoggothbrick0",
      "object" : "srm_shoggothshiplightBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [128, 128, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "srm_shoggothbrick0",
      "object" : "srm_shoggothshiplight",
      "objectParameters" : {
        "unbreakable" : true,
        "defaultLightState" : false
      }
    },
    {
      "value" : [255, 102, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "srm_shoggothshipdoor",
      "objectResidual" : true
    },
    
    {
      "value" : [128, 51, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "srm_shoggothshipdoorBroken",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [174, 137, 81, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "srm_shipengine",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [156, 0, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "srm_shoggothbrick0",
      "object" : "srm_shoggothteleporter",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [79, 0, 128, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "srm_shoggothbrick0",
      "object" : "srm_shoggothteleporterBroken",
      "flags" : [ "playerSpawn" ],
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [167, 167, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflameshoggoth",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [168, 168, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflameshoggoth2",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [180, 180, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflameshoggoth3",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [166, 166, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "boosterflame",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [100, 100, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "bigboosterflameavian",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [200, 200, 200, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "bigboosterflameshoggoth",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [168, 168, 168, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "smallboosterflame",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [190, 190, 190, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "smallboosterflameshoggoth2",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [0, 255, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "srm_shoggothcaptainschair",
      "objectDirection" : "right",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [122, 122, 122, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblelight",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    
    {
      "value" : [255, 232, 128, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "object" : "invisiblesparker",
      "objectParameters" : {
        "unbreakable" : true
      }
    },
    {
      "value" : [255, 255, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "srm_shoggothhull0"
    },
    {
      "value" : [255, 117, 144],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "srm_shoggothbrick0"
    },
    {
      "value" : [255, 117, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "srm_shoggothpillar0"
    },
    {
      "value" : [6, 6, 6],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
      "backgroundMat" : "srm_shoggothglass0"
    },
    {
      "value" : [255, 255, 220],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true
    },
    {
      "value" : [255, 200, 220],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "hazard",
      "foregroundResidual" : true,
      "backgroundMat" : "srm_shoggothbrick0"
    },
    {
      "value" : [0, 137, 0],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
      "foregroundMat" : "srm_shoggothplatformtentacle0",
      "foregroundResidual" : true,
      "backgroundMat" : "srm_shoggothbrick0"
    },
    {
      "value" : [0, 147, 0],
      "foregroundBlock" : true,
      "backgroundBlock" : false,
      "foregroundMat" : "srm_shoggothplatformtentacle0",
      "foregroundResidual" : true
    }
  ]
}
