{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/srm_recycleomatic/header.png",
      "fileBody" : "/interface/scripted/srm_recycleomatic/body.png",
      "fileFooter" : "/interface/scripted/srm_recycleomatic/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [172, 162]
    },
    "prgTime" : {
      "type" : "progress",
      "zlevel" : 1,
      "position" : [73, 126],
      "size" : [39, 9],
      "progressSet" : {
        "inner" : "/interface/scripted/srm_recycleomatic/bar_full.png",
        "type" : "repeat"
      },
      "direction" : "horizontal",
      "max" : 1,
      "initial" : 0
    },
    "prgTimeUnderlay" : {
      "type" : "image",
      "zlevel" : 0,
      "file" : "/interface/scripted/srm_recycleomatic/bar_empty.png",
      "position" : [72, 125]
    },
    "lblInput" : {
      "type" : "label",
      "position" : [46, 126],
      "hAnchor" : "mid",
      "wrapWidth" : 50,
      "value" : "^#b9b5b2;INPUT"
    },
    "lblOutput" : {
      "type" : "label",
      "position" : [143, 126],
      "hAnchor" : "mid",
      "wrapWidth" : 50,
      "value" : "^#b9b5b2;OUTPUT"
    },
    "lblText" : {
      "type" : "label",
      "position" : [95, 142],
      "hAnchor" : "mid",
      "wrapWidth" : 180,
      "value" : "^#b9b5b2;Place undesirables in the INPUT slots."
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [15, 45],
      "dimensions" : [6, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "slotOffset" : 24,
      "position" : [136, 45],
      "dimensions" : [2, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/scripted/srm_recycleomatic/shine.png",
      "position" : [0, 0]
    }
  },
  "scripts" : ["/interface/scripted/srm_recycleomatic/srm_recycleomatic.lua"],
  "scriptDelta" : 2
}
